Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config):add Nexa ZPR-111 parameters
  packages/config/config/devices/0x0268/zpr111.json
Due: node maintenance/fmt-staged.js

fix: ignore ApplicationUpdateRequestNodeAdded during inclusion
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: ignore `ApplicationUpdateRequestNodeAdded` during inclusion (#8496)
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: clean up
  packages/cc/src/cc/UserCodeCC.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/UserCode.ts
  packages/zwave-js/src/lib/test/cc-specific/userCodeCorrectCommandByVersion.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: restore `lastSeen` field when creating empty node statistics
  packages/zwave-js/src/lib/node/NodeStatistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: restore `lastSeen` field when creating empty node statistics (#8499)
  packages/zwave-js/src/lib/node/NodeStatistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): use `Extended User Code Set` to control V2+ devices (#8486)
  packages/cc/src/cc/UserCodeCC.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/UserCode.ts
  packages/zwave-js/src/lib/test/cc-specific/userCodeCorrectCommandByVersion.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(cc): allow setting either `defaultToneId` or `defaultVolume` in Sound Switch CC (#8484)
  packages/cc/src/cc/SoundSwitchCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js

chore: release v15.18.0
  CHANGELOG.md
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/config/src/_version.ts
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/_version.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: fix task order for native builds
  maintenance/build.ts
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/host/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: disable custom conditions to repro build issue
  tsconfig.base.json
Due: node maintenance/fmt-staged.js

chore: update TSGO to get project references support
  .vscode/settings.json
  .yarnrc.yml
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/bin/flash.mjs
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  turbo.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: enable use of tsgo preview
  .vscode/settings.json
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/cc/src/cc/SecurityCC.ts
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/node/Endpoint.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: work around missing decorator support
  maintenance/downlevel-decorators.ts
  package.json
  packages/cc/package.json
  packages/serial/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: deduplicate dependencies
  yarn.lock
Due: none

chore: upgrade tsgo again to get latest monorepo fixes
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: simplify build process again
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/zwave-js/package.json
  tsconfig.base.json
  turbo.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: hide build-files again
  .vscode/settings.json
Due: node maintenance/fmt-staged.js

update typescript
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: instruct Copilot not to create tests for simple issues
  .github/copilot-instructions.md
Due: node maintenance/fmt-staged.js

feat(config): update parameters for Zooz ZEN7x line
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen71.json
  packages/config/config/devices/0x027a/zen72.json
  packages/config/config/devices/0x027a/zen73.json
  packages/config/config/devices/0x027a/zen74.json
  packages/config/config/devices/0x027a/zen76.json
  packages/config/config/devices/0x027a/zen77.json
Due: node maintenance/fmt-staged.js

Add Zooz Zen58 Low Voltage XS Relay
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen58.json
Due: node maintenance/fmt-staged.js

feat(config): add Minoston MP21ZP variant - productId: 0xfe0e
  packages/config/config/devices/0x0312/mp21zp_mp31zp.json
Due: node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/CCs/ApplicationStatus.md
  docs/api/CCs/FirmwareUpdateMetaData.md
  docs/api/CCs/ManufacturerProprietary.md
  docs/api/CCs/Security.md
  docs/api/CCs/Security2.md
  docs/api/CCs/SoundSwitch.md
  docs/api/CCs/ThermostatMode.md
  docs/api/CCs/UserCode.md
  docs/api/CCs/_sidebar.md
  docs/api/CCs/index.md
  docs/api/config-manager.md
  docs/api/driver.md
  docs/api/node.md
  docs/api/zniffer.md
  docs/examples/_sidebar.md
  packages/cc/cc.api.md
  packages/config/config.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/shared/shared.api.md
  packages/testing/testing.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

Add P121 for new firmware.
  packages/config/config/devices/0x031e/vzw31-sn.json
Due: node maintenance/fmt-staged.js

Hide test parameter from production use. This paramater was previously marked read-only.
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

lint
  packages/config/config/devices/0x031e/vzw31-sn.json
Due: node maintenance/fmt-staged.js

lint
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

fix(config): label endpoints of Shelly Wave Shutter
  packages/config/config/devices/0x0460/qlsh-001P10.json
Due: node maintenance/fmt-staged.js

fix(config): label endpoints of Shelly Wave Shutter (#8521)
  packages/config/config/devices/0x0460/qlsh-001P10.json
Due: node maintenance/fmt-staged.js

fix(config): correct manual link metadata for Inovelli VZW31-SN and VZW32-SN (#8492)
  packages/config/config/devices/0x031e/vzw31-sn.json
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

fix: clear user codes on initial interview unless queryAllUserCodes set
  packages/cc/src/cc/UserCodeCC.ts
  packages/cc/src/lib/API.ts
  packages/core/src/traits/Nodes.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add missing parameter for latest VZW31-SN firmware (#8513)
  packages/config/config/devices/0x031e/vzw31-sn.json
Due: node maintenance/fmt-staged.js

chore: instruct Copilot not to create tests for simple issues (#8500)
  .github/copilot-instructions.md
Due: node maintenance/fmt-staged.js

fix: clear user codes on initial interview unless `queryAllUserCodes` driver option is set (#8525)
  packages/cc/src/cc/UserCodeCC.ts
  packages/cc/src/lib/API.ts
  packages/core/src/traits/Nodes.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add fingerprint for Kwikset HC620 (#8474)
  packages/config/config/devices/0x0090/hc620.json
Due: node maintenance/fmt-staged.js

fix(config): remove unnecessary firmware version check from Zooz ZEN35 (#8472)
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

feat: add option to force associations without validation (#8490)
  docs/api/controller.md
  packages/cc/src/lib/utils.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
