Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: enforce a minimal dependency age of 7 days
  .yarnrc.yml
Due: none

fix: test breaks
  packages/config/src/devices/DeviceConfig.hash.test.ts
  packages/shared/src/utils.throttle.test.ts
  packages/transformers/src/index.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: downgrade vitest
  package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: upgrade github actions deps
  .github/action-scripts/generateTypedDocs.cjs
  .github/action-scripts/updateCCImplementationOverview.cjs
  .github/action-scripts/updateToLogEntryOverview.cjs
  .github/bot-scripts/packPr.cjs
  package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: update linting-related deps
  .oxlintrc.json
  package.json
  packages/cc/package.json
  packages/config/config/eslint.config.mjs
  packages/config/package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/auto-unsigned.ts
  packages/eslint-plugin/src/rules/consistent-config-string-case.ts
  packages/eslint-plugin/src/rules/consistent-device-config-property-order.ts
  packages/eslint-plugin/src/rules/consistent-param-units.ts
  packages/eslint-plugin/src/rules/no-disallowed-values.ts
  packages/eslint-plugin/src/rules/no-misspelled-names.ts
  packages/eslint-plugin/src/rules/no-surrounding-whitespace.ts
  packages/eslint-plugin/src/rules/no-unnecessary-min-max-value.ts
  packages/eslint-plugin/src/rules/no-useless-description.ts
  packages/eslint-plugin/src/rules/no-value-in-option-label.ts
  packages/eslint-plugin/src/rules/prefer-defaultvalue.ts
  packages/eslint-plugin/src/rules/valid-allowed-values.ts
  packages/eslint-plugin/src/utils.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

style: fix lint, disable no-shadow rule
  .oxlintrc.json
  packages/config/src/index.ts
  packages/core/src/index_safe.ts
  packages/serial/src/index.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
  packages/shared/src/index.ts
  packages/shared/src/index_safe.ts
  packages/testing/src/index.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: upgrade more lint/format dependencies
  .dprint.jsonc
  package.json
  packages/eslint-plugin/package.json
  packages/maintenance/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

ci: apply to Dependabot aswell
  .github/dependabot.yml
Due: none

fix: lint
  packages/zwave-js/src/lib/controller/FirmwareUpdateService.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config) Update productType in qmem-0A1PC16.json
  packages/config/config/devices/0x0460/qmem-0A1PC16.json
Due: node maintenance/fmt-staged.js

fix(config): use SDK instead of firmware version to show SDK warnings
  packages/config/config/devices/0x0000/700_800_series_controller.json
  packages/config/config/devices/0x027a/zac93.json
  packages/config/config/devices/0x027a/zst10_700.json
  packages/config/config/devices/0x027a/zst39lr.json
Due: node maintenance/fmt-staged.js

fix: update targetValue optimistically, even for slow device classes
  packages/cc/src/cc/BarrierOperatorCC.ts
  packages/cc/src/cc/BasicCC.ts
  packages/cc/src/cc/BinarySwitchCC.ts
  packages/cc/src/cc/MultilevelSwitchCC.ts
  packages/cc/src/cc/WindowCoveringCC.ts
  packages/cc/src/lib/API.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/driver/setValueOptimisticValueUpdate.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): add new configuration for productType 0x0004.
  packages/config/config/devices/0x0460/qmem-0A1PC16.json
Due: node maintenance/fmt-staged.js

chore: add comments on the different IDs
  packages/config/config/devices/0x0460/qmem-0A1PC16.json
Due: node maintenance/fmt-staged.js

fix: incorrect check for serial binding factory in Zniffer
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: stay in bootloader if requested after updating firmware
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: handle commands with args in end device CLI client
  packages/zwave-js/src/lib/driver/EndDeviceCLI.test.ts
  packages/zwave-js/src/lib/driver/EndDeviceCLI.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): Update firmware version comments in qmem-0A1PC16.json
  packages/config/config/devices/0x0460/qmem-0A1PC16.json
Due: node maintenance/fmt-staged.js

fix(cli): parse multiline command descriptions correctly
  packages/serial/src/parsers/CLIParser.test.ts
  packages/serial/src/parsers/CLIParser.ts
  packages/zwave-js/src/lib/driver/EndDeviceCLI.test.ts
  packages/zwave-js/src/lib/driver/EndDeviceCLI.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: unwanted delay in Node.pollValue
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/driver/pollValueTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

clarify comment
  packages/config/config/devices/0x0460/qmem-0A1PC16.json
Due: node maintenance/fmt-staged.js

fix: disable test debug
  packages/zwave-js/src/lib/test/driver/pollValueTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

style: fix formatting
  packages/config/config/devices/0x031e/templates/inovelli_templates.json
  packages/config/config/devices/0x031e/vzw31-sn.json
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

style: fix formatting
  packages/config/config/devices/0x031e/vzw30-sn.json
Due: node maintenance/fmt-staged.js

fix: give new parameters a purpose
  packages/config/config/devices/0x031e/vzw30-sn.json
Due: node maintenance/fmt-staged.js

fix: nits
  packages/cc/src/cc/ThermostatOperatingStateCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove unnecessary `as const`
  packages/cc/src/cc/UserCredentialCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: make `active` state a boolean
  .claude/skills/integration-tests/SKILL.md
  .claude/skills/integration-tests/reference/test-patterns.md
  packages/cc/src/cc/UserCredentialCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/lib/_Types.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/UserCredential.ts
  packages/zwave-js/src/lib/test/cc-specific/userCredentialInterview.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add HomeSeer PS100 v2
  packages/config/config/devices/0x000c/hs-ps100-v2.json
  packages/config/config/devices/0x000c/templates/homeseer_template.json
Due: node maintenance/fmt-staged.js

feat: add unified API to manage users and credentials
  packages/cc/src/cc/UserCredentialCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/cc/index.ts
  packages/zwave-js/src/lib/node/CCHandlers/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/_Types.ts
  packages/zwave-js/src/lib/node/mixins/85_AccessControl.ts
  packages/zwave-js/src/lib/node/mixins/index.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): fix sensitivities default values for HomeSeer PS100 v2
  packages/config/config/devices/0x000c/hs-ps100-v2.json
Due: node maintenance/fmt-staged.js

refactor: mixin implementation
  packages/cc/src/cc/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/mixins/85_AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: determine type of User Code type from supported characters
  packages/zwave-js/src/lib/node/mixins/85_AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: move AccessControl to Endpoint
  packages/zwave-js/src/lib/node/CCHandlers/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/Endpoint.ts
  packages/zwave-js/src/lib/node/_Types.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/00_Base.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/05_AccessControl.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/index.ts
  packages/zwave-js/src/lib/node/mixins/index.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove unnecessary credential type checks in UC
  packages/zwave-js/src/lib/node/endpoint-mixins/05_AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: add UserCredentialLearnStatus enum instead of number, fix learn events
  packages/cc/src/cc/UserCredentialCC.ts
  packages/cc/src/lib/_Types.ts
  packages/zwave-js/src/lib/node/CCHandlers/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: startCredentialLearn API
  packages/cc/src/cc/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/05_AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: purge cached users and credentials on deletion
  packages/zwave-js/src/lib/node/endpoint-mixins/05_AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
