Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): accept zero-valued enums when deserializing the network cache
  packages/zwave-js/src/lib/driver/NetworkCache.test.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(core): keep the DRBG key and counter in separate buffers
  packages/core/src/security/ctr_drbg.test.ts
  packages/core/src/security/ctr_drbg.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: read NODE_ENV through getenv
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/lib/Security2/Extension.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/serial/src/plumbing/SerialModeSwitch.ts
  packages/zwave-js/src/lib/node/MultiCCAPIWrapper.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/VirtualEndpoint.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/00_Base.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: read `NODE_ENV` through `getenv` (#9015)
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/lib/Security2/Extension.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/serial/src/plumbing/SerialModeSwitch.ts
  packages/zwave-js/src/lib/node/MultiCCAPIWrapper.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/VirtualEndpoint.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/00_Base.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): accept zero-valued enums when deserializing the network cache (#9013)
  packages/zwave-js/src/lib/driver/NetworkCache.test.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(core): keep the DRBG key and counter in separate buffers (#9014)
  packages/core/src/security/ctr_drbg.test.ts
  packages/core/src/security/ctr_drbg.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: use native Set operations where applicable (#8818)
  packages/config/maintenance/importConfig.ts
  packages/core/src/values/ValueDB.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: raise minimum Node.js version to 22.17 (#8824)
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
Due: node maintenance/fmt-staged.js

refactor: replace `createDeferredPromise` with `Promise.withResolvers` (#8844)
  packages/serial/src/plumbing/Merge.ts
  packages/shared/src/AsyncQueue.ts
  packages/shared/src/TimedExpectation.ts
  packages/web/src/flasher.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/DriverMock.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/Queue.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/log/Driver.test.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/70_FirmwareUpdate.ts
  packages/zwave-js/src/lib/test/node/Node.rememberAwakeForInterview.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
  packages/zwave-js/src/mockServer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: remove automatic watchdog management (#8808)
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): reject an embedded config directory that is not one (#9007)
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: wait for the expected User Code events instead of sleeping (#9008)
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(shared): provide setImmediate instead of using the Node global (#9000)
  packages/serial/src/plumbing/SerialModeSwitch.ts
  packages/shared/src/Timers.test.ts
  packages/shared/src/Timers.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/MockControllerBehaviors.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/70_FirmwareUpdate.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(core): allow replacing the crypto implementation at runtime (#8998)
  docs/api/driver.md
  packages/core/src/crypto/operations.test.ts
  packages/core/src/crypto/operations.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(cc): implement Active Schedule CC (#8460)
  packages/cc/src/cc/ActiveScheduleCC.ts
  packages/cc/src/cc/ScheduleEntryLockCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/cc/index.ts
  packages/cc/src/lib/_CCAPI.generated.ts
  packages/cc/src/lib/_Types.ts
  packages/core/src/definitions/CommandClasses.ts
  packages/testing/src/CCSpecificCapabilities.ts
  packages/zwave-js/src/lib/node/MockNodeBehaviors.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/ActiveSchedule.ts
  packages/zwave-js/src/lib/test/cc-specific/activeScheduleAPI.test.ts
  packages/zwave-js/src/lib/test/cc-specific/activeScheduleInterview.test.ts
  packages/zwave-js/src/lib/test/cc/ActiveScheduleCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(core): implement ChaCha20-Poly1305 in the browser crypto primitives (#8996)
  packages/core/package.json
  packages/core/src/crypto/primitives/primitives.browser.ts
  packages/core/src/crypto/primitives/primitives.test.ts
  packages/eslint-plugin/src/rules/no-forbidden-imports.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): allow embedders to specify the embedded config directory (#8999)
  docs/api/driver.md
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/package.json
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/Manufacturers.ts
  packages/config/src/configDir.browser.ts
  packages/config/src/configDir.node.ts
  packages/config/src/configDir.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/config/src/utils.ts
  packages/web/src/script.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/node/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: make AccessControl API the source of truth for User Code CC (#8930)
  packages/cc/src/cc/UserCodeCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/zwave-js/src/lib/node/CCHandlers/NotificationCC.ts
  packages/zwave-js/src/lib/node/CCHandlers/UserCodeCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(serial): make the TCP and ESPHome transports runtime-agnostic (#9001)
  packages/serial/src/bindings/node.ts
  packages/serial/src/bindings/stub.ts
  packages/serial/src/index.ts
  packages/serial/src/index_browser.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
  packages/serial/src/serialport/NodeSocket.ts
  packages/serial/src/serialport/Socket.ts
  packages/serial/src/serialport/ZWaveSocketOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(quickjs): add a txiki.js host for Z-Wave JS
  packages/quickjs/.build.mjs
  packages/quickjs/README.md
  packages/quickjs/mock-config.js
  packages/quickjs/package.json
  packages/quickjs/src/bindings/db.ts
  packages/quickjs/src/bindings/fs.ts
  packages/quickjs/src/bindings/serial.ts
  packages/quickjs/src/boot.ts
  packages/quickjs/src/setImmediate.ts
  packages/quickjs/tsconfig.json
  packages/zwave-js/src/mockServer.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(quickjs): use the repository's mock server config (PR #9009 review)
  packages/quickjs/README.md
  packages/quickjs/mock-config.js
  packages/quickjs/src/boot.ts
  packages/zwave-js/src/mockServer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test(quickjs): add a mock server config with a secure node
  packages/quickjs/README.md
  test/secure_server_config.cjs
Due: node maintenance/fmt-staged.js

perf(quickjs): emit the source map externally
  packages/quickjs/.build.mjs
  packages/quickjs/README.md
Due: node maintenance/fmt-staged.js

refactor(quickjs): drop the setImmediate shim, bump waddle to 1.2.3
  .yarnrc.yml
  packages/quickjs/README.md
  packages/quickjs/src/boot.ts
  packages/quickjs/src/setImmediate.ts
  packages/zwave-js/package.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): drop commented-out rename-commit job
  .github/workflows/zwave-js-bot_comment.yml
Due: none

refactor(bot): remove dead rename-commit scripts
  .github/bot-scripts/index.cjs
  .github/bot-scripts/renameCommitCheck.cjs
  .github/bot-scripts/renameCommitFeedback.cjs
  .github/bot-scripts/renameCommitGetPRInfo.cjs
Due: none

feat(bot): install embeddings deps standalone instead of via the yarn workspace
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/localEmbeddings.test.cjs
  .github/bot-scripts/package-lock.json
  .github/bot-scripts/package.json
Due: node maintenance/fmt-staged.js

ci(bot): add composite actions for embeddings setup and index health
  .github/actions/report-index-status/action.yml
  .github/actions/restore-bot-index/action.yml
  .github/actions/setup-bot-embeddings/action.yml
Due: none

refactor(bot): reconcile shared index scripts with zwave-js-ui
  .github/bot-scripts/agentOutput.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildDocsIndex.test.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/docsIndex.test.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updateEvalTrackingIssue.test.cjs
  .github/bot-scripts/updatePostsIndex.cjs
Due: none

feat(bot): project the judge handoff and harden the docs answer path
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
Due: none

ci(bot): collapse embeddings setup onto the composite actions
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

ci(bot): harden the agentic answer and logfile workflows
  .github/workflows/agentics-maintenance.yml
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci(bot): add gh-aw compile check and index self-check workflows
  .github/workflows/bot-index-selfcheck.yml
  .github/workflows/gh-aw-compile-check.yml
Due: none

ci(bot): remove dead rename-commit bot code (#9018)
  .github/bot-scripts/index.cjs
  .github/bot-scripts/renameCommitCheck.cjs
  .github/bot-scripts/renameCommitFeedback.cjs
  .github/bot-scripts/renameCommitGetPRInfo.cjs
  .github/workflows/zwave-js-bot_comment.yml
Due: none

ci(bot): widen compile-check path filter to shared includes
  .github/workflows/gh-aw-compile-check.yml
Due: none

docs(quickjs): note that tjs:sqlite named params keep their prefix
  packages/quickjs/src/bindings/db.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add a txiki.js/QuickJS host as a demo runtime (#9009)
  .yarnrc.yml
  packages/quickjs/.build.mjs
  packages/quickjs/README.md
  packages/quickjs/package.json
  packages/quickjs/src/bindings/db.ts
  packages/quickjs/src/bindings/fs.ts
  packages/quickjs/src/bindings/serial.ts
  packages/quickjs/src/boot.ts
  packages/quickjs/tsconfig.json
  packages/zwave-js/package.json
  test/secure_server_config.cjs
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(bot): override adm-zip to 0.6.0 to resolve GHSA-xcpc-8h2w-3j85
  .github/bot-scripts/package-lock.json
  .github/bot-scripts/package.json
Due: node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
