Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

aeotec-smokeshield
  packages/config/config/devices/0x0371/zwa050.json
Due: node maintenance/fmt-staged.js

test: hackerman
  test.txt
Due: none

test: commit 1
  test.txt
Due: none

feat(config): add Aeotec ZWA050 SmokeShield for Ei Smoke Detectors (#8493)
  packages/config/config/devices/0x0371/zwa050.json
Due: node maintenance/fmt-staged.js

fix(config): hide VZW32-SN test parameter from production use (#8512)
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

test: add integration test for the behavior
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/failedS2BootstrappingInterview.test.ts
  packages/zwave-js/src/lib/test/driver/fixtures/failedS2BootstrappingNoInterview/7e570001.jsonl
  packages/zwave-js/src/lib/test/node/Node.failedS2Bootstrapping.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: cleanup
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/Dump.ts
  packages/zwave-js/src/lib/node/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: super obvious
  test.txt
Due: none

ci: verify integrity of PR state in `pack PR` bot workflow
  .github/bot-scripts/packPr.cjs
  .github/bot-scripts/utils.cjs
  .github/workflows/zwave-js-bot_comment.yml
Due: none

fix: cleanup
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen58.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz Zen58 Low Voltage XS Relay (#8444)
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen58.json
Due: node maintenance/fmt-staged.js

fix: cleanup
  .github/instructions/config-files.instructions.md
  packages/config/src/Logic.test.ts
  packages/zwave-js/src/lib/controller/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove unexpected `.only` from test
  packages/zwave-js/src/lib/test/driver/failedS2BootstrappingInterview.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: skip node interview after S2 bootstrapping failure (#8162)
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/Dump.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/05_Security.ts
  packages/zwave-js/src/lib/test/driver/failedS2BootstrappingInterview.test.ts
  packages/zwave-js/src/lib/test/driver/fixtures/failedS2BootstrappingNoInterview/7e570001.jsonl
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove sdkVersion from lookupDevicePreserveConditions
  packages/config/src/ConfigManager.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: support `sdkVersion` in configuration file conditions (#8529)
  .github/instructions/config-files.instructions.md
  packages/config/src/ConfigManager.ts
  packages/config/src/Logic.test.ts
  packages/config/src/devices/ConditionalDeviceConfig.test.ts
  packages/config/src/devices/shared.ts
  packages/zwave-js/src/lib/controller/_Types.ts
  packages/zwave-js/src/lib/node/mixins/80_DeviceConfig.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): use Supervision for ConfigurationCCDefaultReset
  packages/cc/src/cc/ConfigurationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): correct log messages for SoundSwitchCCConfigurationSet
  packages/cc/src/cc/SoundSwitchCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): use Supervision for ConfigurationCCDefaultReset (#8530)
  packages/cc/src/cc/ConfigurationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): correct log messages for SoundSwitchCCConfigurationSet (#8531)
  packages/cc/src/cc/SoundSwitchCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: respect disableOptimisticValueUpdate when updating the valueDB
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/driver/configurationCCValueUpdate.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: reproduce issue 8059
  packages/zwave-js/src/lib/test/driver/configurationCCValueUpdate.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: add support for "hidden" config property to linter
  packages/config/config/devices/0x031e/vzw32-sn.json
  packages/eslint-plugin/src/utils.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: add support for "hidden" config property to linter (#8533)
  packages/config/config/devices/0x031e/vzw32-sn.json
  packages/eslint-plugin/src/utils.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: logic for Supervision with Working state
  packages/zwave-js/src/lib/node/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: respect `disableOptimisticValueUpdate` when updating the valueDB (#8532)
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/driver/configurationCCValueUpdate.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: limit chunk size for 500 series NVM backups to a sane value
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/utils.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: limit chunk size for 500 series NVM backups to a sane value (#8534)
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/utils.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: fix configjson lint scripts
  .dprint.config.jsonc
  package.json
Due: node maintenance/fmt-staged.js

style: fix lint
  .dprint.config.jsonc
  packages/config/config/README.md
  packages/config/config/devices/0x0060/an145.json
  packages/config/config/devices/0x013c/pad15.json
  packages/config/config/devices/0x013c/pan30.json
  packages/config/config/devices/0x013c/pan34.json
  packages/config/config/devices/0x013c/pse04.json
  packages/config/config/devices/0x037b/gkw-2000.json
Due: node maintenance/fmt-staged.js

chore: fix `lint:configjson` scripts (#8535)
  .dprint.config.jsonc
  package.json
  packages/config/config/README.md
  packages/config/config/devices/0x0060/an145.json
  packages/config/config/devices/0x013c/pad15.json
  packages/config/config/devices/0x013c/pan30.json
  packages/config/config/devices/0x013c/pan34.json
  packages/config/config/devices/0x013c/pse04.json
  packages/config/config/devices/0x037b/gkw-2000.json
Due: node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js

chore: release v15.19.0
  CHANGELOG.md
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/config/src/_version.ts
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/_version.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(wip): noise encryption support for ESPHome
  packages/core/src/crypto/operations.ts
  packages/core/src/crypto/primitives/primitives.browser.ts
  packages/core/src/crypto/primitives/primitives.node.ts
  packages/serial/src/bindings/node.ts
  packages/serial/src/esphome/noise/NoiseProtocol.ts
  packages/serial/src/serialport/ESPHomeNoiseSocket.ts
  packages/shared/src/bindings.ts
  test/run.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: encrypted messages without payload
  packages/serial/src/serialport/ESPHomeNoiseSocket.ts
  test/run.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update AI instructions regarding comments/backwards compat
  .github/copilot-instructions.md
Due: node maintenance/fmt-staged.js

chore: update AI instructions regarding comments/backwards compat (#8536)
  .github/copilot-instructions.md
Due: node maintenance/fmt-staged.js

refactor: clean up noise implementation
  packages/serial/src/bindings/node.ts
  packages/serial/src/esphome/ESPHomeMessage.ts
  packages/serial/src/esphome/noise/NoiseProtocol.ts
  packages/serial/src/esphome/parsers/ESPHomeMessageParser.ts
  packages/serial/src/esphome/parsers/NoiseDecryptTransform.ts
  packages/serial/src/esphome/parsers/NoiseFrameParser.ts
  packages/serial/src/serialport/ESPHomeNoiseSocket.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: document this stuff
  docs/usage/esphome-connection.md
Due: node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
