Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

style: restore original zero-pointer comment (PR #8966 review)
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: comments, fix purging when not enumerating from 0
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: remove duplication
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/mcp-server-dev/src/tools/resolveParam.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): purge stale credentials from cache while querying (#8966)
  packages/mcp-server-dev/src/tools/resolveParam.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: clarify firmware version range guidance for config authoring
  .agents/instructions/config-files.md
  .agents/skills/author-config-from-web/SKILL.md
Due: node maintenance/fmt-staged.js

docs: clarify firmware version range guidance for config authoring (#8967)
  .agents/instructions/config-files.md
  .agents/skills/author-config-from-web/SKILL.md
Due: node maintenance/fmt-staged.js

Fix broken link to Honeywell T6 Pro manual
  packages/config/config/devices/0x0039/th6320zw.json
Due: node maintenance/fmt-staged.js

fix(config): broken link to Honeywell T6 Pro manual (#8970)
  packages/config/config/devices/0x0039/th6320zw.json
Due: node maintenance/fmt-staged.js

chore: require MCP tools for config authoring
  .agents/instructions/config-files.md
  .github/copilot-instructions.md
  .mcp.json
Due: node maintenance/fmt-staged.js

feat(config): add UltraPro 800 Series dimmer
  packages/config/config/devices/0x0063/76602_76606_76607_zwn3020.json
Due: node maintenance/fmt-staged.js

Add UltraPro 800 Series switch config
  packages/config/config/devices/0x0063/76601_76604_76605_zwn4017.json
Due: node maintenance/fmt-staged.js

docs: nudge AI to use `zwave-dev` MCP tools for config authoring (#8971)
  .agents/instructions/config-files.md
  .github/copilot-instructions.md
  .mcp.json
Due: node maintenance/fmt-staged.js

fix(config): align ZWN4017 config with manual (PR #8973 review)
  packages/config/config/devices/0x0063/76601_76604_76605_zwn4017.json
Due: node maintenance/fmt-staged.js

fix(config): use generic relay template (PR #8973 review)
  packages/config/config/devices/0x0063/76601_76604_76605_zwn4017.json
Due: node maintenance/fmt-staged.js

feat(config): add UltraPro 800 Series dimmer (#8972)
  packages/config/config/devices/0x0063/76602_76606_76607_zwn3020.json
Due: node maintenance/fmt-staged.js

feat(config): add UltraPro 800 Series On/Off Switch (#8973)
  packages/config/config/devices/0x0063/76601_76604_76605_zwn4017.json
Due: node maintenance/fmt-staged.js

fix(ci): skip optional ONNX GPU download
  packages/mcp-server-dev/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

refactor(ci): avoid pinning transitive ONNX runtime
  .env.yarn
  packages/mcp-server-dev/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

refactor(ci): scope ONNX build metadata to MCP
  .env.yarn
  packages/mcp-server-dev/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

fix(ci): disable transitive ONNX GPU install
  package.json
  packages/mcp-server-dev/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

fix(mcp): skip optional ONNX GPU download (#8974)
  package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

test(bot): cover support answer guardrails
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/buildDocsIndex.test.cjs
  .github/bot-scripts/collectDocsFeedback.test.cjs
  .github/bot-scripts/docsIndex.test.cjs
  .github/bot-scripts/evalUtils.test.cjs
  .github/bot-scripts/githubApi.test.cjs
  .github/bot-scripts/sanitizeAnswer.test.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.test.cjs
Due: none

fix(bot): harden automated support answers
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/sanitizeAnswer.cjs
Due: none

fix(bot): harden feedback and API handling
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/githubApi.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
Due: none

fix(bot): make support workflows observable
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

fix: work around credential learn status with incorrect steps remaining
  packages/zwave-js/src/lib/node/CCHandlers/UserCredentialCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: work around credential learn status with incorrect steps remaining (#8976)
  packages/zwave-js/src/lib/node/CCHandlers/UserCredentialCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(bot): address support bot review
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.test.cjs
Due: none

fix(bot): harden automated support answers (#8975)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildDocsIndex.test.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/collectDocsFeedback.test.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/docsIndex.test.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/evalUtils.test.cjs
  .github/bot-scripts/githubApi.cjs
  .github/bot-scripts/githubApi.test.cjs
  .github/bot-scripts/sanitizeAnswer.cjs
  .github/bot-scripts/sanitizeAnswer.test.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.test.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

fix(cc): purge deleted user credential cache
  packages/cc/src/cc/UserCredentialCC.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(cc): centralize credential cache purging
  packages/cc/src/cc/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): purge deleted users and credentials from cache in `persistValues` (#8977)
  packages/cc/src/cc/UserCredentialCC.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): increase timeouts for bulk-deleting users/credentials
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): increase timeouts for bulk-deleting users/credentials (#8978)
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js

chore: release v15.26.0
  CHANGELOG.md
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/config/src/_version.ts
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/_version.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/CCs/Irrigation.md
  packages/cc/cc.api.md
  packages/config/config.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/shared/shared.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

fix(bot): run triage on transferred issues
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/collectDocsFeedback.test.cjs
  .github/bot-scripts/ensureLogfile.cjs
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileInDiscussion.cjs
  .github/bot-scripts/hideTransferredComments.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
  .github/workflows/zwave-js-bot_post.yml
Due: none
