Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

style: run dprint fmt
  .github/actions/report-index-status/action.yml
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/buildDocsIndex.test.cjs
  .github/bot-scripts/docsIndex.test.cjs
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/updateEvalTrackingIssue.test.cjs
Due: none

refactor(bot): move restore-bot-index logic into a bot script
  .github/actions/restore-bot-index/action.yml
  .github/bot-scripts/restoreBotIndex.cjs
  .github/bot-scripts/restoreBotIndex.test.cjs
Due: none

style(bot): trim verbose comments per PR #9019 review
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/workflows/bot-index-selfcheck.yml
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

fix(bot): resolve CodeQL file-system race and override vulnerable sharp
  .github/bot-scripts/package-lock.json
  .github/bot-scripts/package.json
  .github/bot-scripts/restoreBotIndex.cjs
Due: node maintenance/fmt-staged.js

fix(bot): invalidate index caches on chunk-shape and model changes (PR #9019 review)
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/indexCacheKeys.cjs
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/localEmbeddings.test.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
Due: none

fix(bot): harden docs answer truncation, pagination and imports (PR #9019 review)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
Due: none

fix(bot): make index restore provenance, staleness and alarms trustworthy (PR #9019 review)
  .github/actions/report-index-status/action.yml
  .github/actions/restore-bot-index/action.yml
  .github/bot-scripts/restoreBotIndex.cjs
  .github/bot-scripts/restoreBotIndex.test.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updateEvalTrackingIssue.test.cjs
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
  .github/workflows/bot-index-selfcheck.yml
Due: node maintenance/fmt-staged.js

fix(bot): declare fflate and drop the workspace install from logfile jobs (PR #9019 review)
  .github/actions/setup-bot-embeddings/action.yml
  .github/bot-scripts/package-lock.json
  .github/bot-scripts/package.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

test: fix flaky Transport Service SegmentComplete test
  packages/zwave-js/src/lib/test/driver/transportService.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: fix flaky Transport Service SegmentComplete test (#9023)
  packages/zwave-js/src/lib/test/driver/transportService.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(bot): simplify index restore plumbing and cache keys
  .github/actions/report-index-status/action.yml
  .github/actions/restore-bot-index/action.yml
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/indexCacheKeys.cjs
  .github/bot-scripts/restoreBotIndex.cjs
  .github/bot-scripts/restoreBotIndex.test.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/bot-scripts/utils.cjs
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
  .github/workflows/bot-index-selfcheck.yml
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

refactor(bot): read answer-bot constants from shared config
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/hideTransferredComments.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/users.cjs
Due: none

refactor(bot): drop stale bot-login reference in escalate comment
  .github/bot-scripts/escalate.cjs
Due: none

ci(bot): add shared bot config file and loader
  .github/bot-scripts/config.cjs
  .github/bot-scripts/config.test.cjs
  .github/zwave-js-bot.config.json
Due: node maintenance/fmt-staged.js

refactor(bot): read bot identity from shared config in logfile and release scripts
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileFeedbackInDiscussion.cjs
  .github/bot-scripts/escalate.cjs
  .github/bot-scripts/packPr.cjs
Due: none

refactor(bot): name eval-case config fields as files (PR #9020 review)
  .github/bot-scripts/config.cjs
  .github/bot-scripts/config.test.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/zwave-js-bot.config.json
Due: node maintenance/fmt-staged.js

feat(core): expose the crypto primitives as public bindings
  .github/workflows/test-and-release.yml
  docs/api/driver.md
  packages/core/src/bindings/crypto/browser.ts
  packages/core/src/bindings/crypto/node.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): report the actual JS runtime in usage statistics
  packages/shared/src/env.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/telemetry/statistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(bot): flatten config validation and drop alias indirection
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/checkAuthorized.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/config.cjs
  .github/bot-scripts/config.test.cjs
  .github/bot-scripts/packPr.cjs
  .github/bot-scripts/users.cjs
Due: none

ci(bot): align AI pipeline with hardened zwave-js-ui implementation (#9019)
  .github/actions/report-index-status/action.yml
  .github/actions/restore-bot-index/action.yml
  .github/actions/setup-bot-embeddings/action.yml
  .github/bot-scripts/agentOutput.cjs
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildDocsIndex.test.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/docsIndex.test.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/indexCacheKeys.cjs
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/localEmbeddings.test.cjs
  .github/bot-scripts/package-lock.json
  .github/bot-scripts/package.json
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/restoreBotIndex.cjs
  .github/bot-scripts/restoreBotIndex.test.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updateEvalTrackingIssue.test.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/bot-scripts/utils.cjs
  .github/workflows/agentics-maintenance.yml
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
  .github/workflows/bot-index-selfcheck.yml
  .github/workflows/docs-embeddings.yml
  .github/workflows/gh-aw-compile-check.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

refactor(bot): extract per-repo config into zwave-js-bot.config.json (#9020)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/checkAuthorized.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/config.cjs
  .github/bot-scripts/config.test.cjs
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileFeedbackInDiscussion.cjs
  .github/bot-scripts/escalate.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/hideTransferredComments.cjs
  .github/bot-scripts/packPr.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/users.cjs
  .github/zwave-js-bot.config.json
Due: node maintenance/fmt-staged.js

docs: reword the host.crypto default and regenerate (PR #9033 review)
  docs/api/driver.md
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): fold the runtime name into the reported nodeVersion (PR #9033 review)
  packages/shared/src/env.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/telemetry/statistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): drop the `v` prefix from the reported runtime version
  packages/shared/src/env.ts
  packages/zwave-js/src/lib/telemetry/statistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(core): expose the crypto primitives as public bindings (#9033)
  .github/workflows/test-and-release.yml
  docs/api/driver.md
  packages/core/src/bindings/crypto/browser.ts
  packages/core/src/bindings/crypto/node.ts
  packages/shared/src/env.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/telemetry/statistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): harden PR build publishing and remove unused commands
  .github/bot-scripts/fixLintFeedback.cjs
  .github/bot-scripts/getFixLintInfo.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/packPr.cjs
  .github/bot-scripts/rebaseFeedback.cjs
  .github/workflows/test-and-release.yml
  .github/workflows/zwave-js-bot_comment.yml
  .github/zwave-js-assistant.yml
Due: none

fix(bot): extract logfile archives before the analysis agent sees them
  .github/bot-scripts/decompressLogfile.cjs
  .github/bot-scripts/decompressLogfile.test.cjs
  .github/bot-scripts/utils.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

ci(bot): publish tarballs topologically and retry transient failures
  .github/workflows/zwave-js-bot_comment.yml
Due: none

ci(bot): document the empty workflow-level permissions (PR #9012 review)
  .github/workflows/zwave-js-bot_comment.yml
Due: none

fix(bot): raise logfile size limits to 250 MB zipped, 2 GB plaintext (PR #9034 review)
  .github/bot-scripts/decompressLogfile.cjs
  .github/bot-scripts/decompressLogfile.test.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

fix(bot): stream logfile classification so huge uploads don't OOM
  .github/bot-scripts/decompressLogfile.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
Due: none

ci(bot): harden PR build publishing and remove unused commands (#9012)
  .github/bot-scripts/fixLintFeedback.cjs
  .github/bot-scripts/getFixLintInfo.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/packPr.cjs
  .github/bot-scripts/rebaseFeedback.cjs
  .github/workflows/test-and-release.yml
  .github/workflows/zwave-js-bot_comment.yml
  .github/zwave-js-assistant.yml
Due: none

refactor(bot): share the logfile download step as a composite action (PR #9034 review)
  .github/actions/download-logfile/action.yml
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

fix(bot): extract logfile archives before the analysis agent sees them (#9034)
  .github/actions/download-logfile/action.yml
  .github/bot-scripts/decompressLogfile.cjs
  .github/bot-scripts/decompressLogfile.test.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

Update packages/config/config/devices/0x0080/ducotronic_co2sensor.json
  packages/config/config/devices/0x0080/ducotronic_co2sensor.json
Due: node maintenance/fmt-staged.js

ci(bot): call reusable embeddings and selfcheck workflows from bot-workflows
  .github/workflows/bot-index-selfcheck.yml
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
Due: none

ci(bot): install agentic workflows from bot-workflows via gh aw add
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/zwave-js/bot-workflows/3dd7955f4d8730d34e92dc624fdae9566d6bface/workflows_shared_docs-answer-judge.md
  .github/aw/imports/zwave-js/bot-workflows/3dd7955f4d8730d34e92dc624fdae9566d6bface/workflows_shared_hardening.md
  .github/aw/imports/zwave-js/bot-workflows/3dd7955f4d8730d34e92dc624fdae9566d6bface/workflows_shared_zwave-log-analysis.md
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci(bot): update installed workflows to bot-workflows v1.0.0-rc.3
  .github/aw/actions-lock.json
  .github/aw/imports/zwave-js/bot-workflows/d0de475bbe438b313321e0b1a22cbcbc8b3634a9/workflows_shared_docs-answer-judge.md
  .github/aw/imports/zwave-js/bot-workflows/d0de475bbe438b313321e0b1a22cbcbc8b3634a9/workflows_shared_hardening.md
  .github/aw/imports/zwave-js/bot-workflows/d0de475bbe438b313321e0b1a22cbcbc8b3634a9/workflows_shared_zwave-log-analysis.md
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js
