Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

Added Parameter 42
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

Added Parameter 43
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

Fixed Firmware Checks
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

Added defaultValue to parameter 43
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz Zen57 240V XS Relay
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen57.json
Due: node maintenance/fmt-staged.js

feat(config): update Zooz ZEN14 config for firmware 2.20
  packages/config/config/devices/0x027a/zen14.json
Due: node maintenance/fmt-staged.js

feat(config): update Zooz ZEN14 config for firmware 2.20 (#8562)
  packages/config/config/devices/0x027a/zen14.json
Due: node maintenance/fmt-staged.js

fix(config): update Zooz ZEN35 config to firmware 1.10+ (#8560)
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

cleanup
  packages/config/config/devices/0x015f/mh-5900.json
Due: node maintenance/fmt-staged.js

feat(config): add MCO Home MH-5900 thermostat (#8553)
  packages/config/config/devices/0x015f/mh-5900.json
Due: node maintenance/fmt-staged.js

Update packages/config/config/devices/0x027a/zen57.json
  packages/config/config/devices/0x027a/zen57.json
Due: node maintenance/fmt-staged.js

Update zooz_template.json
  packages/config/config/devices/0x027a/templates/zooz_template.json
Due: node maintenance/fmt-staged.js

Apply suggestion from @AlCalzone
  packages/config/config/devices/0x027a/zen57.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz Zen57 240V XS Relay (#8561)
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen57.json
Due: node maintenance/fmt-staged.js

fix(config): correct MH-5900 parameter metadata
  packages/config/config/devices/0x015f/mh-5900.json
Due: node maintenance/fmt-staged.js

refactor(config): address review feedback for Da Vinci Touch
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

style(config): apply dprint formatting (auto-fix)
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

fix: migrate broken v2 device config hash to a fixed format on load
  packages/config/src/devices/DeviceConfig.ts
  packages/zwave-js/src/lib/node/mixins/80_DeviceConfig.ts
  packages/zwave-js/src/lib/test/node/Node.brokenV2DeviceConfigHash.test.ts
  packages/zwave-js/src/lib/test/node/fixtures/brokenV2DeviceConfigHash/7e570001.jsonl
  packages/zwave-js/src/lib/test/node/fixtures/brokenV2DeviceConfigHash/7e570001.values.jsonl
  packages/zwave-js/src/lib/test/node/fixtures/brokenV2DeviceConfigHash/config.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: migrate broken v2 device config hash to a fixed format on load (#8571)
  packages/config/src/devices/DeviceConfig.ts
  packages/zwave-js/src/lib/node/mixins/80_DeviceConfig.ts
  packages/zwave-js/src/lib/test/node/Node.brokenV2DeviceConfigHash.test.ts
  packages/zwave-js/src/lib/test/node/fixtures/brokenV2DeviceConfigHash/7e570001.jsonl
  packages/zwave-js/src/lib/test/node/fixtures/brokenV2DeviceConfigHash/7e570001.values.jsonl
  packages/zwave-js/src/lib/test/node/fixtures/brokenV2DeviceConfigHash/config.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js

chore: release v15.20.1
  CHANGELOG.md
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/config/src/_version.ts
  packages/flash/package.json
  packages/host/package.json
  packages/serial/package.json
  packages/testing/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/_version.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/config-manager.md
  packages/config/config.api.md
  packages/core/core.api.md
Due: node maintenance/fmt-staged.js

chore: upgrade linting dependencies
  .oxlintrc.json
  .yarnrc.yml
  package.json
  packages/cc/package.json
  packages/eslint-plugin/package.json
  packages/flash/bin/flash.mjs
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: update formatting deps
  .dprint.jsonc
  package.json
  packages/maintenance/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

build: replace ts-patch with a two-stage codegen+build process
  .github/copilot-instructions.md
  .gitignore
  maintenance/bootstrap.sh
  package.json
  packages/cc/maintenance/_tasks.ts
  packages/cc/maintenance/checkCCToLogEntry.ts
  packages/cc/maintenance/generateCCExports.ts
  packages/cc/maintenance/transformers/defineCCValues.ts
  packages/cc/package.json
  packages/cc/src/cc/ColorSwitchCC.ts
  packages/cc/src/cc/NotificationCC.ts
  packages/cc/tsconfig.build.json
  packages/cc/tsconfig.json
  packages/maintenance/package.json
  packages/maintenance/src/runCodegen.ts
  packages/transformers/package.json
  packages/transformers/src/defineCCValues/transformer.ts
  packages/transformers/src/validateArgs/generateValidator.ts
  packages/transformers/src/validateArgs/index.ts
  packages/transformers/src/validateArgs/transformDecorators.ts
  packages/transformers/test/pretest.ts
  packages/transformers/tsconfig.test.build.json
  packages/transformers/tsconfig.test.json
  packages/zwave-js/package.json
  packages/zwave-js/tsconfig.build.json
  packages/zwave-js/tsconfig.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: ensure no re-transmit after aborting on premature node update
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponse.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponseS0Nonce.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponseS2Supervision.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remember prematureNodeUpdate for all messages, not just nonces
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponsePollValue.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remember prematureNodeUpdate for all messages, not just nonces (#8577)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponsePollValue.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponseS0Nonce.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataAbortAfterPrematureResponseS2Supervision.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: use imports to reduce duplication
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

fix: clean up param 46 definition
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

fix: clean up param 49 definition
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

chore: upgrade linting dependencies (#8572)
  .oxlintrc.json
  .yarnrc.yml
  package.json
  packages/cc/package.json
  packages/eslint-plugin/package.json
  packages/flash/bin/flash.mjs
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: update formatting dependencies (#8573)
  .dprint.jsonc
  package.json
  packages/maintenance/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: transform old cc codegen to the new structure
  packages/cc/maintenance/_tasks.ts
  packages/cc/maintenance/generateCCAPIInterface.ts
  packages/cc/maintenance/generateCCExports.ts
  packages/cc/maintenance/generateCCValueDefinitions.ts
  packages/cc/package.json
  packages/cc/src/lib/API.ts
  packages/cc/src/lib/_CCAPI.generated.ts
  packages/maintenance/src/runCodegen.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: some cleanup
  .github/copilot-instructions.md
  packages/cc/tsconfig.build.json
  packages/transformers/test/pretest.ts
  packages/zwave-js/tsconfig.browser.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

build: replace `ts-patch` with a two-stage codegen+build process (#8576)
  .github/copilot-instructions.md
  .gitignore
  maintenance/bootstrap.sh
  package.json
  packages/cc/maintenance/_tasks.ts
  packages/cc/maintenance/checkCCToLogEntry.ts
  packages/cc/maintenance/generateCCAPIInterface.ts
  packages/cc/maintenance/generateCCExports.ts
  packages/cc/maintenance/generateCCValueDefinitions.ts
  packages/cc/maintenance/transformers/defineCCValues.ts
  packages/cc/package.json
  packages/cc/src/cc/ColorSwitchCC.ts
  packages/cc/src/cc/NotificationCC.ts
  packages/cc/src/lib/API.ts
  packages/cc/src/lib/_CCAPI.generated.ts
  packages/cc/tsconfig.build.json
  packages/cc/tsconfig.json
  packages/maintenance/package.json
  packages/maintenance/src/runCodegen.ts
  packages/transformers/package.json
  packages/transformers/src/defineCCValues/transformer.ts
  packages/transformers/src/validateArgs/generateValidator.ts
  packages/transformers/src/validateArgs/index.ts
  packages/transformers/src/validateArgs/transformDecorators.ts
  packages/transformers/test/pretest.ts
  packages/transformers/tsconfig.test.build.json
  packages/transformers/tsconfig.test.json
  packages/zwave-js/package.json
  packages/zwave-js/tsconfig.browser.json
  packages/zwave-js/tsconfig.build.json
  packages/zwave-js/tsconfig.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: deduplicate dependencies
  yarn.lock
Due: none
