Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: address second endpoint group review (PR #9205 review)
  docs/api/endpoint.md
  docs/config-files/file-format.md
  packages/zwave-js/src/lib/node/Dump.ts
  packages/zwave-js/src/lib/node/Endpoint.test.ts
  packages/zwave-js/src/lib/node/EndpointGroup.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/80_DeviceConfig.ts
  packages/zwave-js/zwave-js.api.md
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): lint endpoint group conflicts across SDK version ranges (PR #9205 review)
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore(config): label unknown SDK versions in lint variants
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: expose endpoint groups from device configuration (#9205)
  .agents/instructions/config-files.md
  .agents/skills/add-endpoint-labels/SKILL.md
  docs/api/endpoint.md
  docs/api/node.md
  docs/config-files/conditional-settings.md
  docs/config-files/file-format.md
  maintenance/schemas/device-config.json
  packages/config/config.api.md
  packages/config/maintenance/importConfig.ts
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/config/src/devices/EndpointGroupConfig.ts
  packages/config/src/index.ts
  packages/zwave-js/src/Node.ts
  packages/zwave-js/src/Node_safe.ts
  packages/zwave-js/src/lib/node/Dump.ts
  packages/zwave-js/src/lib/node/Endpoint.test.ts
  packages/zwave-js/src/lib/node/EndpointGroup.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/00_Base.ts
  packages/zwave-js/src/lib/node/mixins/80_DeviceConfig.ts
  packages/zwave-js/zwave-js.api.md
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(lint): check every firmware range in conditional config files
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(lint): restore firmware limits comment in getFirmwareRangeStarts (PR #9282 review)
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(lint): check every SDK version range in conditional config files
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(lint): move firmware range comment into getFirmwareRangeStarts (PR #9282 review)
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(lint): check every firmware and SDK version range in conditional config files (#9282)
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js

chore: release v15.31.0
  CHANGELOG.md
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/config/src/_version.ts
  packages/flash/package.json
  packages/host/package.json
  packages/mcp-server-dev/package.json
  packages/serial/package.json
  packages/testing/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/_version.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: let the caller choose which task survives softResetAndRestart
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Task.ts
  packages/zwave-js/src/lib/test/driver/softResetAndRestart.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: keep the calling task by identity during softResetAndRestart
  .yarnrc.yml
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Task.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: prevent `restoreNVM()` and 500-series OTW update from self-aborting during soft-reset (#9277)
  .yarnrc.yml
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Task.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  packages/cc/cc.api.md
  packages/config/config.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

ci: update GitHub Actions to Node 24 versions
  .github/workflows-disabled/approve-workflow-runs.yml
Due: none

ci(bot): update to bot-workflows v1.0.3
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci(bot): stop the weekly bot-workflows update from conflicting
  .github/workflows/bot-workflows-update.yml
Due: none

ci(bot): tighten the gh aw update flag comment
  .github/workflows/bot-workflows-update.yml
Due: none

ci: update GitHub Actions to Node 24 versions (#9287)
  .github/workflows-disabled/approve-workflow-runs.yml
Due: none

ci(bot): update to bot-workflows v1.0.3 and fix the weekly update (#9288)
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
  .github/workflows/bot-workflows-update.yml
Due: node maintenance/fmt-staged.js

feat(config): name and group endpoints on Aeotec HEM 8
  packages/config/config/devices/0x0371/zwa046_1phase_eu.json
  packages/config/config/devices/0x0371/zwa046_2phase_us.json
  packages/config/config/devices/0x0371/zwa046_3phase_eu.json
Due: node maintenance/fmt-staged.js

fix(controller): prevent starting a second route rebuild while one is running
  packages/zwave-js/src/lib/controller/Controller.beginRebuildingRoutes.test.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): add manual refresh delay for Leviton VRMX1 and VRS15
  packages/config/config/devices/0x001d/vrmx1.json
  packages/config/config/devices/0x001d/vrs15.json
Due: node maintenance/fmt-staged.js

fix(config): move compat after associations
  packages/config/config/devices/0x001d/vrmx1.json
  packages/config/config/devices/0x001d/vrs15.json
Due: node maintenance/fmt-staged.js

fix(config): add manual refresh delay for Leviton VRMX1 and VRS15 (#9293)
  packages/config/config/devices/0x001d/vrmx1.json
  packages/config/config/devices/0x001d/vrs15.json
Due: node maintenance/fmt-staged.js

fix: send commands again after the node responds with Application Busy
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/node/CCHandlers/ApplicationStatusCC.ts
  packages/zwave-js/src/lib/test/driver/applicationBusyRetry.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: nits
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/node/CCHandlers/ApplicationStatusCC.ts
  packages/zwave-js/src/lib/test/driver/applicationBusyRetry.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: run Application Busy retry tests sequentially
  packages/zwave-js/src/lib/test/driver/applicationBusyRetry.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: send commands again after the node responds with Application Busy (#9294)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/node/CCHandlers/ApplicationStatusCC.ts
  packages/zwave-js/src/lib/test/driver/applicationBusyRetry.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): delay manual value refresh for Leviton VRI06 (#9296)
  packages/config/config/devices/0x001d/vri06.json
Due: node maintenance/fmt-staged.js

fix: return a fallback maxDataRate for ready nodes without known data rates
  packages/zwave-js/src/lib/node/mixins/01_NetworkRole.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: logic
  packages/zwave-js/src/lib/node/mixins/01_NetworkRole.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: return a fallback maxDataRate for ready nodes without known data rates (#9297)
  packages/zwave-js/src/lib/node/mixins/01_NetworkRole.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: update waddle to 1.3.1 so rebuild tasks stay visible while waiting on node tasks
  .yarnrc.yml
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/controller/Controller.beginRebuildingRoutes.test.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: use createDeferredPromise instead of Promise.withResolvers
  packages/zwave-js/src/lib/controller/Controller.beginRebuildingRoutes.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: prevent starting a second route rebuild while one is running (#9292)
  .yarnrc.yml
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/controller/Controller.beginRebuildingRoutes.test.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): formatting
  packages/config/config/devices/0x0371/zwa046_1phase_eu.json
  packages/config/config/devices/0x0371/zwa046_2phase_us.json
  packages/config/config/devices/0x0371/zwa046_3phase_eu.json
Due: node maintenance/fmt-staged.js

feat(config): name and group endpoints on Aeotec HEM 8 (#9289)
  packages/config/config/devices/0x0371/zwa046_1phase_eu.json
  packages/config/config/devices/0x0371/zwa046_2phase_us.json
  packages/config/config/devices/0x0371/zwa046_3phase_eu.json
Due: node maintenance/fmt-staged.js

feat(config): add --review-groups mode to findMultiEndpointDevices
  .agents/skills/add-endpoint-labels/SKILL.md
  packages/config/maintenance/findMultiEndpointDevices.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
