Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

chore: upgrade to TypeScript 6.0
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: enable use of tsgo preview
  .vscode/settings.json
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/cc/src/cc/SecurityCC.ts
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/node/Endpoint.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: disable custom conditions to repro build issue
  tsconfig.base.json
Due: node maintenance/fmt-staged.js

chore: fix task order for native builds
  maintenance/build.ts
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/host/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update TSGO to get project references support
  .vscode/settings.json
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  turbo.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: upgrade tsgo again to get latest monorepo fixes
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: hide build-files again
  .vscode/settings.json
Due: node maintenance/fmt-staged.js

chore: simplify build process again
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/zwave-js/package.json
  tsconfig.base.json
  turbo.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: work around missing decorator support
  maintenance/downlevel-decorators.ts
  package.json
  packages/cc/package.json
  packages/serial/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

update typescript
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

Revert "chore: work around missing decorator support"
  maintenance/downlevel-decorators.ts
  package.json
  packages/cc/package.json
  packages/serial/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update tsgo for decorator support
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

add script to check build output diffs
  compare-builds.sh
Due: none

feat(config): add VZW30-SN config
  packages/config/config/devices/0x031e/vzw30-sn.json
Due: node maintenance/fmt-staged.js

ci: limit Dependabot to direct dependencies
  .github/dependabot.yml
Due: none

test: add integration test for interview requirements
  packages/zwave-js/src/lib/test/cc-specific/userCredentialInterview.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: improve Claude skill definitions
  .claude/skills/implement-zwave-cc/SKILL.md
  .claude/skills/integration-tests/SKILL.md
  .claude/skills/integration-tests/reference/test-patterns.md
Due: node maintenance/fmt-staged.js

chore: improve Claude skill definitions (#8685)
  .claude/skills/implement-zwave-cc/SKILL.md
  .claude/skills/integration-tests/SKILL.md
  .claude/skills/integration-tests/reference/test-patterns.md
Due: node maintenance/fmt-staged.js

chore: update tsgo for fixed enum imports
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

remove test script again
  compare-builds.sh
Due: none

chore: replace remaining `tsc` calls with `tsgo`
  package.json
  packages/mcp-server-dev/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: remove legacy typescript dep from packages that don't need it
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: dedupe dependencies
  yarn.lock
Due: none

fix: task dependencies
  turbo.json
Due: node maintenance/fmt-staged.js

build: fix cc codegen caching
  turbo.json
Due: node maintenance/fmt-staged.js

fix: correct Supervision behavior for slow mocks
  packages/core/src/values/Duration.ts
  packages/testing/src/MockNode.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/MockTransition.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/MultilevelSwitch.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/Supervision.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/WindowCovering.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

style: fix lint
  .github/dependabot.yml
Due: none

chore: bump several dev-only dependencies
  package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js
