Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): update to bot-workflows v1.0.0-rc.4 with the archive-extraction port
  .github/actions/download-logfile/action.yml
  .github/aw/actions-lock.json
  .github/aw/imports/zwave-js/bot-workflows/3dd7955f4d8730d34e92dc624fdae9566d6bface/workflows_shared_docs-answer-judge.md
  .github/aw/imports/zwave-js/bot-workflows/3dd7955f4d8730d34e92dc624fdae9566d6bface/workflows_shared_hardening.md
  .github/aw/imports/zwave-js/bot-workflows/3dd7955f4d8730d34e92dc624fdae9566d6bface/workflows_shared_zwave-log-analysis.md
  .github/aw/imports/zwave-js/bot-workflows/75148e07b701ca92e052212a9b7710864068ef6e/workflows_shared_docs-answer-judge.md
  .github/aw/imports/zwave-js/bot-workflows/75148e07b701ca92e052212a9b7710864068ef6e/workflows_shared_hardening.md
  .github/aw/imports/zwave-js/bot-workflows/75148e07b701ca92e052212a9b7710864068ef6e/workflows_shared_zwave-log-analysis.md
  .github/bot-scripts/decompressLogfile.cjs
  .github/bot-scripts/decompressLogfile.test.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci: exclude vendored gh-aw imports from dprint
  .dprint.jsonc
Due: none

fix(driver): do not persist CC values after the value DB was closed
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/destroyDuringReceive.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci: recompile gh-aw workflows on Dependabot PRs instead of failing
  .github/dependabot.yml
  .github/workflows/gh-aw-dependabot-recompile.yml
Due: none

refactor(driver): close the databases in one place when recreating them
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(driver): drop late CC values by catching the DB error instead of tracking DB state
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): do not persist CC values after the value DB was closed (#9038)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/destroyDuringReceive.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci: keep credentials out of the gh-aw recompile steps
  .github/workflows/gh-aw-dependabot-recompile.yml
Due: none

ci(bot): pin shared workflow imports to a fixed revision (PR #9037 review)
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci: recompile gh-aw workflows on Dependabot PRs instead of failing (#9039)
  .github/dependabot.yml
  .github/workflows/gh-aw-dependabot-recompile.yml
Due: none

chore: recompile gh-aw workflows
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
Due: none

fix(config): remove Multi Channel CC support for Vero Duco CO2 sensor (#9036)
  packages/config/config/devices/0x0080/ducotronic_co2sensor.json
Due: node maintenance/fmt-staged.js

fix: answer supervised Notification Reports with unparsable event parameters
  packages/cc/src/cc/NotificationCC.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationSupervisionUnparsableEventParams.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): logfile analysis answers the user's question first (bot-workflows rc.7)
  .github/aw/imports/zwave-js/bot-workflows/84a2fbd5f9604b357c8615466c3aaa86fad58d8e/workflows_shared_zwave-log-analysis.md
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

test: assert Fail report for supervised commands dropped due to invalid values
  packages/zwave-js/src/lib/test/cc-specific/notificationSupervisionUnparsableEventParams.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): logfile analysis answers the user's question first (#9050)
  .github/aw/imports/zwave-js/bot-workflows/84a2fbd5f9604b357c8615466c3aaa86fad58d8e/workflows_shared_zwave-log-analysis.md
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

refactor: rename answerSupervisedCommand to answerUnsuccessfulSupervisedCommand (PR #9049 review)
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: answer supervised Notification Reports with unparsable event parameters (#9049)
  packages/cc/src/cc/NotificationCC.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationSupervisionUnparsableEventParams.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): repin shared actions to bot-workflows rc.7
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
Due: node maintenance/fmt-staged.js

ci(bot): repin shared actions to bot-workflows rc.7 (#9052)
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
Due: node maintenance/fmt-staged.js

ci(bot): add a weekly bot-workflows update workflow
  .github/aw/actions-lock.json
  .github/workflows/bot-workflows-update.yml
Due: node maintenance/fmt-staged.js

feat: implement driver for RCP firmware
  .vscode/launch.json
  packages/serial/package.json
  packages/serial/src/index.ts
  packages/serial/src/index_rcp.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/message/RCPMessages.ts
  packages/serial/src/message/SuccessIndicator.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/parsers/RCPSerialFrame.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/serial/src/rcp/capability/GetFirmwareInfoMessages.ts
  packages/zwave-js/src/RCPHost.ts
  packages/zwave-js/src/index.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/SerialAPICommandMachine.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/log/Driver.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/RCPMessageGenerators.ts
  packages/zwave-js/src/lib/rcp/RCPTransaction.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: transmit and receive
  packages/serial/src/index_rcp.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/message/RCPMessages.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint after rebase
  packages/core/src/protocol/MPDU.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/parsers/RCPSerialFrame.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/MACLayer.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/_Types.ts
  packages/zwave-js/src/lib/rcp/util.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: bump baudrate to 460800
  packages/core/src/protocol/MPDU.ts
  packages/serial/src/bindings/node.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/NodeSerialPort.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: query channel info from radio and use for encoding
  packages/serial/src/index_rcp.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/serial/src/rcp/capability/GetFirmwareInfoMessages.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: header format follows the channel, not the region
  packages/core/src/definitions/Protocol.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: support singlecast and broadcast transmissions w/o routing
  packages/core/src/protocol/MPDU.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/_Types.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: build lint after rebase onto master
  packages/core/src/definitions/RSSI.ts
  packages/core/src/protocol/MPDU.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/RCPMessageGenerators.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: clean up logging, add way to await MPDUs
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: parsing of LR frames, convert RSSI
  packages/core/src/definitions/RSSI.ts
  packages/core/src/protocol/MPDU.ts
  packages/core/src/protocol/_Types.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: split PHY and MAC layers
  packages/core/src/protocol/MPDU.ts
  packages/zwave-js/src/RCPHost.ts
  packages/zwave-js/src/lib/log/Protocol.ts
  packages/zwave-js/src/lib/rcp/MACLayer.ts
  packages/zwave-js/src/lib/rcp/PHYLayer.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/_Types.ts
  packages/zwave-js/src/lib/rcp/util.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: pass info about incoming frame to `transmitACK`
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: make MPDU serializable
  packages/core/src/protocol/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: align RCP code with current conventions
  packages/core/src/protocol/MPDU.ts
  packages/serial/src/message/RCPMessages.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/parsers/RCPSerialFrame.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/zwave-js/src/lib/rcp/PHYLayer.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: implement MPDUs independent of Zniffer
  packages/core/src/definitions/Protocol.ts
  packages/core/src/definitions/RSSI.ts
  packages/core/src/index.ts
  packages/core/src/index_safe.ts
  packages/core/src/protocol/MPDU.ts
  packages/core/src/protocol/_Types.ts
  packages/core/src/protocol/utils.ts
  packages/core/src/values/Primitive.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/serialapi/application/BridgeApplicationCommandRequest.ts
  packages/serial/src/serialapi/misc/GetBackgroundRSSIMessages.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
  packages/zwave-js/src/Zniffer.ts
  packages/zwave-js/src/Zniffer_safe.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/_Types.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: adapt RCP code to the LogPayload logging API
  packages/core/src/protocol/MPDU.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/zwave-js/src/lib/log/Protocol.ts
  packages/zwave-js/src/lib/log/RCP.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: address review comments on the RCP driver
  packages/serial/src/message/RCPMessages.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/rcp/capability/GetFirmwareInfoMessages.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/shared/src/types.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/log/Driver.ts
  packages/zwave-js/src/lib/log/Protocol.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/RCPTransaction.ts
  packages/zwave-js/src/lib/rcp/util.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: use the shared AwaitedThing in the Zniffer
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
