Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: swap order
  .lintstagedrc.json
Due: node maintenance/fmt-staged.js

chore: run Oxlint on precommit (#8451)
  .lintstagedrc.json
Due: node maintenance/fmt-staged.js

fix: support enabling NLS during device inclusion
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/index.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/Security2.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: enable NLS on controller after inclusion, fix SAPI commands
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/EnableNodeNLSMessages.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

add Zooz Zen57 240V Relay and Zen 58 Low Voltage Relay
  packages/config/config/devices/0x027a/zen57.json
  packages/config/config/devices/0x027a/zen58.json
  packages/config/config/devices/0x027a/zooz_template.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz Zen57 240V Relay and Zen58 Low Voltage Relay
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen57.json
  packages/config/config/devices/0x027a/zen58.json
Due: node maintenance/fmt-staged.js

Fix missing label in template
  packages/config/config/devices/0x027a/templates/zooz_template.json
Due: node maintenance/fmt-staged.js

refactor: clean up
  packages/zwave-js/src/lib/controller/FirmwareUpdateService.ts
  packages/zwave-js/src/lib/driver/HTTPClient.ts
  packages/zwave-js/src/lib/driver/UpdateConfig.ts
  packages/zwave-js/src/lib/telemetry/statistics.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Fix another missing label in template
  packages/config/config/devices/0x027a/templates/zooz_template.json
Due: node maintenance/fmt-staged.js

Fix external switch 0-12
  packages/config/config/devices/0x027a/templates/zooz_template.json
Due: node maintenance/fmt-staged.js

fix(config): add compat flag to 0x0118:0x0311:0x0201:2.5
  packages/config/config/devices/0x0118/tz55d.json
Due: node maintenance/fmt-staged.js

add comment
  packages/config/config/devices/0x0118/tz55d.json
Due: node maintenance/fmt-staged.js

fix(config): omit `dimmingDuration` field for TKBHome Dimmer (#8458)
  packages/config/config/devices/0x0118/tz55d.json
Due: node maintenance/fmt-staged.js

feat: update to latest spec version
  packages/serial/src/index_serialapi.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/serial/src/serialapi/transport/SendProtocolDataMessages.ts
  packages/shared/src/AsyncQueue.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: make it work
  packages/core/src/definitions/MessagePriority.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
  packages/serial/src/serialapi/transport/SendProtocolDataMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update CC exports generator to void every single statement
  packages/cc/maintenance/generateCCExports.ts
  packages/cc/src/cc/index.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update CC exports generator to void every single statement (#8459)
  packages/cc/maintenance/generateCCExports.ts
  packages/cc/src/cc/index.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/CCs/ApplicationStatus.md
  docs/api/CCs/FirmwareUpdateMetaData.md
  docs/api/CCs/ManufacturerProprietary.md
  docs/api/CCs/Security.md
  docs/api/CCs/Security2.md
  docs/api/CCs/ThermostatMode.md
  docs/api/CCs/UserCode.md
  docs/api/CCs/_sidebar.md
  docs/api/CCs/index.md
  docs/api/config-manager.md
  docs/api/driver.md
  docs/api/node.md
  docs/api/zniffer.md
  docs/examples/_sidebar.md
  packages/cc/cc.api.md
  packages/config/config.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/shared/shared.api.md
  packages/testing/testing.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

feat: first draft for Active Schedule CC implementation
  packages/cc/src/cc/ActiveScheduleCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/cc/index.ts
  packages/cc/src/lib/API.ts
  packages/cc/src/lib/_Types.ts
  packages/core/src/definitions/CommandClasses.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: create Claude skill for implementing a CC
  .claude/skills/implement-zwave-cc.md
Due: node maintenance/fmt-staged.js

refactor: reorganize skill documents
  .claude/skills/implement-zwave-cc.md
  .claude/skills/implement-zwave-cc/SKILL.md
  .claude/skills/implement-zwave-cc/reference/command-patterns.md
  .claude/skills/implement-zwave-cc/reference/parsing-serialization.md
Due: node maintenance/fmt-staged.js

Update zen35.json
  packages/config/config/devices/0x027a/zen35.json
Due: node maintenance/fmt-staged.js

Add new productType and productId to hc620.json
  packages/config/config/devices/0x0090/hc620.json
Due: node maintenance/fmt-staged.js

chore: enable use of tsgo preview
  .vscode/settings.json
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/cc/src/cc/SecurityCC.ts
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/node/Endpoint.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: disable custom conditions to repro build issue
  tsconfig.base.json
Due: node maintenance/fmt-staged.js

chore: fix task order for native builds
  maintenance/build.ts
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/host/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/zwave-js/package.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update TSGO to get project references support
  .vscode/settings.json
  .yarnrc.yml
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/bin/flash.mjs
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  turbo.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: upgrade tsgo again to get latest monorepo fixes
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: node maintenance/fmt-staged.js

chore: simplify build process again
  maintenance/build.ts
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/zwave-js/package.json
  tsconfig.base.json
  turbo.json
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: hide build-files again
  .vscode/settings.json
Due: node maintenance/fmt-staged.js

chore: deduplicate dependencies
  yarn.lock
Due: none

chore: work around missing decorator support
  maintenance/downlevel-decorators.ts
  package.json
  packages/cc/package.json
  packages/serial/package.json
  packages/zwave-js/package.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add Heatit Z-TRM6 DC Thermostat
  packages/config/config/devices/0x019b/z-trm6_dc.json
Due: node maintenance/fmt-staged.js

feat(config): add Heatit Z-TRM6 DC Thermostat (#8476)
  packages/config/config/devices/0x019b/z-trm6_dc.json
Due: node maintenance/fmt-staged.js

fix: remove ASCII event data padding validation in Entry Control CC (#8488)
  packages/cc/src/cc/EntryControlCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Correct manual links
  packages/config/config/devices/0x031e/vzw31-sn.json
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

aeotec-smokeshield
  packages/config/config/devices/0x0371/zwa032.json
Due: node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
