Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): override supported thermostat modes for Fibaro FGT-001 (#8921)
  packages/config/config/devices/0x010f/fgt001.json
Due: node maintenance/fmt-staged.js

fix(testing): destroy the mock controller during test teardown
  packages/testing/src/MockController.ts
  packages/zwave-js/src/lib/test/integrationTestSuite.ts
  packages/zwave-js/src/lib/test/integrationTestSuiteMulti.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: bot answers questions from documentation using embeddings RAG
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/index.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
  .gitignore
Due: none

fix: address review feedback
  docs/api/CCs/Association.md
  docs/api/CCs/ThermostatSetpoint.md
  docs/generated/type-links.json
  docs/plugins/type-links.js
  packages/cc/src/cc/AssociationCC.ts
  packages/cc/src/lib/_Types.ts
  packages/maintenance/src/docs/shared.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: run live-interview notification tests sequentially
  packages/zwave-js/src/lib/test/cc-specific/notificationEnums.test.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationMultipleEventsMetadata.test.ts
  packages/zwave-js/src/lib/test/compat/notificationAlarmMapping.test.ts
  packages/zwave-js/src/lib/test/compat/notificationRemapping.test.ts
  packages/zwave-js/src/lib/test/compat/notificationRemappingDoorState.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: use dedicated MODELS_TOKEN secret for GitHub Models API calls
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
Due: none

fix: use built-in GITHUB_TOKEN for GitHub Models API calls
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
Due: none

fix: strip HTML tags iteratively to satisfy CodeQL
  .github/bot-scripts/buildDocsIndex.cjs
Due: none

fix: match docsify's anchor slug generation
  .github/bot-scripts/buildDocsIndex.cjs
Due: none

feat: migrate AI logfile analysis from Gemini to GitHub Agentic Workflows
  .gitattributes
  .github/actions/extract-log-analyzer-query/action.yml
  .github/actions/extract-log-analyzer-query/index.js
  .github/aw/actions-lock.json
  .github/bot-scripts/analyzeLogfile.cjs
  .github/bot-scripts/analyzeLogfileInDiscussion.cjs
  .github/bot-scripts/analyzeLogfileParseCommand.cjs
  .github/bot-scripts/index.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/shared/zwave-log-analysis.md
  .github/workflows/zwave-js-bot_comment.yml
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: clean docsify directives and markdown links from heading titles
  .github/bot-scripts/buildDocsIndex.cjs
Due: none

fix: don't link doc subsections when their parent section is linked
  .github/bot-scripts/answerFromDocs.cjs
Due: none

feat: improve docs answer comment wording
  .github/bot-scripts/answerFromDocs.cjs
Due: none

fix: grammar in comment
  .github/bot-scripts/answerFromDocs.cjs
Due: none

chore: trim comments to match project style
  packages/serial/src/mock/MockPort.ts
  packages/testing/src/MockController.ts
  packages/testing/src/MockNode.ts
  packages/zwave-js/src/lib/test/driver/nodeDeadReject.test.ts
  packages/zwave-js/src/lib/test/integrationTestSuite.ts
  packages/zwave-js/src/lib/test/integrationTestSuiteMulti.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: fix comment per review
  packages/testing/src/MockNode.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(testing): ensure mock cleanup runs even if driver.destroy() throws
  packages/zwave-js/src/lib/test/integrationTestSuite.ts
  packages/zwave-js/src/lib/test/integrationTestSuiteMulti.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: address Copilot review feedback
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/shared/zwave-log-analysis.md
Due: node maintenance/fmt-staged.js

fix: address review feedback
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/docsAnswersEvalCases.json
  .github/bot-scripts/docsSearch.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
Due: node maintenance/fmt-staged.js

feat: migrate AI logfile analysis from Gemini to GitHub Agentic Workflows (#8938)
  .gitattributes
  .github/actions/extract-log-analyzer-query/action.yml
  .github/actions/extract-log-analyzer-query/index.js
  .github/aw/actions-lock.json
  .github/bot-scripts/analyzeLogfile.cjs
  .github/bot-scripts/analyzeLogfileInDiscussion.cjs
  .github/bot-scripts/analyzeLogfileParseCommand.cjs
  .github/bot-scripts/index.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/shared/zwave-log-analysis.md
  .github/workflows/zwave-js-bot_comment.yml
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

perf(test): parallelize integration tests, avoid unnecessary timeouts (#8935)
  .claude/skills/integration-tests/SKILL.md
  packages/serial/src/mock/MockPort.ts
  packages/testing/src/MockController.ts
  packages/testing/src/MockNode.ts
  packages/zwave-js/src/lib/node/MockNodeBehaviors.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationEnums.test.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationMultipleEventsMetadata.test.ts
  packages/zwave-js/src/lib/test/compat/notificationAlarmMapping.test.ts
  packages/zwave-js/src/lib/test/compat/notificationRemapping.test.ts
  packages/zwave-js/src/lib/test/compat/notificationRemappingDoorState.test.ts
  packages/zwave-js/src/lib/test/driver/controllerJammed.test.ts
  packages/zwave-js/src/lib/test/driver/controllerUnresponsive.test.ts
  packages/zwave-js/src/lib/test/driver/nodeDeadReject.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataMissingCallbackAbort.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataMissingResponse.test.ts
  packages/zwave-js/src/lib/test/driver/sendDataRetryOnQueueFail.test.ts
  packages/zwave-js/src/lib/test/driver/setValueSucceedAfterFailure.test.ts
  packages/zwave-js/src/lib/test/integrationTestSuite.ts
  packages/zwave-js/src/lib/test/integrationTestSuiteMulti.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: strip HTML comments iteratively to satisfy CodeQL
  .github/bot-scripts/answerFromDocs.cjs
Due: none

feat: bot answers questions from documentation using embeddings RAG (#8937)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/docsAnswersEvalCases.json
  .github/bot-scripts/docsSearch.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_issue.yml
  .gitignore
Due: node maintenance/fmt-staged.js

chore(bot): suggest related issues and discussions automatically
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/relatedPostsEvalCases.json
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
Due: node maintenance/fmt-staged.js

chore(bot): only update the posts index when posts are created
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
Due: none

feat(bot): learn from reactions to automated doc replies
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/collectDocsAnswerFeedback.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_issue.yml
  .gitignore
Due: none

fix(bot): escape backslashes in post titles too
  .github/bot-scripts/answerFromDocs.cjs
Due: none

fix: address review feedback
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/collectDocsAnswerFeedback.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
Due: none

chore(bot): suggest related issues and discussions automatically (#8940)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/relatedPostsEvalCases.json
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
Due: node maintenance/fmt-staged.js

fix: parse doc links by string prefix instead of a regex built from the URL
  .github/bot-scripts/collectDocsAnswerFeedback.cjs
Due: none

feat(bot): learn from reactions to automated doc replies (#8941)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/collectDocsAnswerFeedback.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_issue.yml
  .gitignore
Due: none

refactor(bot): consolidate new AI powered workflows
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/githubApi.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

refactor(bot): consolidate new AI powered workflows (#8942)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/docsIndex.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/evalUtils.cjs
  .github/bot-scripts/githubApi.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/bot-scripts/postsIndex.cjs
  .github/bot-scripts/updateDocsFeedbackIssue.cjs
  .github/bot-scripts/updateEvalTrackingIssue.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/zwave-js-bot_discussion.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

fix(config): correct Schneider Electric SQR44102 state-after-power-failure values (#8944)
  packages/config/config/devices/0x0447/sqr44102_z.json
Due: node maintenance/fmt-staged.js

fix(config): correct invalid template parameter definitions
  packages/config/config/devices/0x000c/templates/homeseer_template.json
  packages/config/config/devices/0x0086/templates/aeotec_template.json
  packages/config/config/devices/0x008b/templates/trane_template.json
  packages/config/config/devices/0x0129/templates/yale_template.json
  packages/config/config/devices/0x0234/templates/logic_group_template.json
Due: node maintenance/fmt-staged.js

feat(config): extend config lints to template files
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): address review comments (PR #8945 review)
  packages/config/maintenance/lintConfigFiles.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: address review feedback
  packages/cc/src/cc/ActiveScheduleCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/lib/_Types.ts
  packages/testing/src/CCSpecificCapabilities.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/ActiveSchedule.ts
  packages/zwave-js/src/lib/test/cc-specific/activeScheduleAPI.test.ts
  packages/zwave-js/src/lib/test/cc-specific/activeScheduleInterview.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: first draft for Active Schedule CC implementation
  packages/cc/src/cc/ActiveScheduleCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/lib/_Types.ts
  packages/core/src/definitions/CommandClasses.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
