Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): harden the update workflow (PR #9054 review)
  .github/workflows/bot-workflows-update.yml
Due: none

docs(ci): mark gh-aw-compile-check as the gh-aw pin reference (PR #9054 review)
  .github/workflows/gh-aw-compile-check.yml
Due: none

feat(core): add shared protocol primitives (MPDU, RSSI parsing/conversion, radio protocol modes)
  packages/core/src/definitions/Protocol.ts
  packages/core/src/definitions/RSSI.ts
  packages/core/src/index.ts
  packages/core/src/index_safe.ts
  packages/core/src/protocol/MPDU.ts
  packages/core/src/protocol/_Types.ts
  packages/core/src/protocol/utils.ts
  packages/core/src/values/Primitive.ts
  packages/serial/src/serialapi/application/BridgeApplicationCommandRequest.ts
  packages/serial/src/serialapi/misc/GetBackgroundRSSIMessages.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
  packages/shared/src/types.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): add a weekly bot-workflows update workflow (#9054)
  .github/aw/actions-lock.json
  .github/workflows/bot-workflows-update.yml
  .github/workflows/gh-aw-compile-check.yml
Due: node maintenance/fmt-staged.js

refactor(core): remove commented-out extension fields (PR #9055 review)
  packages/core/src/protocol/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(core): narrow the return type of MPDU.parse (PR #9056 review)
  packages/core/src/protocol/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci(bot): repin shared actions to bot-workflows v1.0.1
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
Due: node maintenance/fmt-staged.js

ci(bot): repin shared actions to bot-workflows v1.0.1 (#9059)
  .github/aw/actions-lock.json
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
Due: node maintenance/fmt-staged.js

ci(bot): sync workflow sources with bot-workflows v1.0.1
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci(bot): sync workflow sources with bot-workflows v1.0.1 (#9060)
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
Due: node maintenance/fmt-staged.js

ci(bot): stop the weekly sync from bumping action majors
  .github/workflows/bot-workflows-update.yml
Due: none

ci(bot): stop the weekly sync from bumping action majors (#9061)
  .github/workflows/bot-workflows-update.yml
Due: none

refactor(core): drop unused znifferRegionToChannelConfiguration
  packages/core/src/definitions/Protocol.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(bot): pass the comment target explicitly to the logfile-analysis agent
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

fix(bot): pass the comment target explicitly to the logfile-analysis agent (#9064)
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

fix(core): align MPDU implementation with G.9959 and the Network Layer spec (PR #9055 review)
  packages/core/src/definitions/Protocol.ts
  packages/core/src/definitions/RSSI.ts
  packages/core/src/index_browser.ts
  packages/core/src/protocol/MPDU.ts
  packages/core/src/protocol/utils.ts
  packages/core/src/values/Primitive.test.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(zniffer): beam frames encode Zniffer output, move them back next to BeamStop
  packages/core/src/index.ts
  packages/core/src/index_safe.ts
  packages/core/src/protocol/Beams.ts
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(zniffer): split MPDU context helpers, clean up beam comments (PR #9056 review)
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(rcp): handle errors on remote-driven and voided code paths, keep the Serial API machine typechecked (PR #9057 review)
  packages/zwave-js/src/lib/driver/SerialAPICommandMachine.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: move beam frame classes to @zwave-js/core, drop MPDU.parse assertion (PR #9056 review)
  packages/core/src/index.ts
  packages/core/src/index_safe.ts
  packages/core/src/protocol/Beams.ts
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(zniffer): adapt to renamed protocol helpers
  packages/zwave-js/src/lib/zniffer/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(zniffer): dispatch beam parsing on channel, pass frame info explicitly
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement driver for RCP firmware
  .vscode/launch.json
  packages/serial/package.json
  packages/serial/src/bindings/node.ts
  packages/serial/src/index.ts
  packages/serial/src/index_rcp.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/message/RCPMessages.ts
  packages/serial/src/message/SuccessIndicator.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/parsers/RCPSerialFrame.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/serial/src/rcp/capability/GetFirmwareInfoMessages.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/NodeSerialPort.ts
  packages/zwave-js/src/RCPHost.ts
  packages/zwave-js/src/index.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/SerialAPICommandMachine.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/log/Protocol.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/MACLayer.ts
  packages/zwave-js/src/lib/rcp/PHYLayer.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/RCPTransaction.ts
  packages/zwave-js/src/lib/rcp/_Types.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(zniffer): remove beam marker wrappers, document the beam hash marker byte (PR #9056 review)
  packages/core/src/protocol/Beams.ts
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(core): revert to payload-mutating MPDU serialization (PR #9055 review)
  packages/core/src/protocol/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(rcp): remove CAN handling, align RCPSerialStream with ZWaveSerialStream (PR #9057 review)
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/parsers/RCPSerialFrame.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(zniffer): use the shared MPDU implementation from @zwave-js/core
  packages/core/src/definitions/Protocol.ts
  packages/zwave-js/src/Zniffer.ts
  packages/zwave-js/src/Zniffer_safe.ts
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(zniffer): translate legacy Zniffer regions, keep beam markers in the Zniffer
  packages/core/src/definitions/Protocol.ts
  packages/core/src/protocol/Beams.ts
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add shared protocol primitives to `@zwave-js/core` (#9055)
  packages/core/src/definitions/Protocol.ts
  packages/core/src/definitions/RSSI.ts
  packages/core/src/index.ts
  packages/core/src/index_browser.ts
  packages/core/src/index_safe.ts
  packages/core/src/protocol/MPDU.ts
  packages/core/src/protocol/_Types.ts
  packages/core/src/protocol/utils.ts
  packages/core/src/values/Primitive.test.ts
  packages/core/src/values/Primitive.ts
  packages/serial/src/serialapi/application/BridgeApplicationCommandRequest.ts
  packages/serial/src/serialapi/misc/GetBackgroundRSSIMessages.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
  packages/shared/src/types.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: use the shared MPDU implementation in the Zniffer (#9056)
  packages/core/src/definitions/Protocol.ts
  packages/zwave-js/src/Zniffer.ts
  packages/zwave-js/src/Zniffer_safe.ts
  packages/zwave-js/src/lib/log/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/MPDU.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
  packages/zwave-js/src/lib/zniffer/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement experimental driver for RCP firmware (#9057)
  .vscode/launch.json
  packages/serial/package.json
  packages/serial/src/bindings/node.ts
  packages/serial/src/index.ts
  packages/serial/src/index_rcp.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/message/RCPMessages.ts
  packages/serial/src/message/SuccessIndicator.ts
  packages/serial/src/parsers/RCPParser.ts
  packages/serial/src/parsers/RCPSerialFrame.ts
  packages/serial/src/rcp/RCPSerialStream.ts
  packages/serial/src/rcp/capability/GetFirmwareInfoMessages.ts
  packages/serial/src/rcp/capability/SetupRadioMessages.ts
  packages/serial/src/rcp/transport/ReceiveMessages.ts
  packages/serial/src/rcp/transport/TransmitMessages.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/NodeSerialPort.ts
  packages/zwave-js/src/RCPHost.ts
  packages/zwave-js/src/index.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/SerialAPICommandMachine.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/log/Protocol.ts
  packages/zwave-js/src/lib/log/RCP.ts
  packages/zwave-js/src/lib/rcp/MACLayer.ts
  packages/zwave-js/src/lib/rcp/PHYLayer.ts
  packages/zwave-js/src/lib/rcp/ProtocolController.ts
  packages/zwave-js/src/lib/rcp/RCPHost.ts
  packages/zwave-js/src/lib/rcp/RCPTransaction.ts
  packages/zwave-js/src/lib/rcp/_Types.ts
  test/run_rcp.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(bot): repin analyze-logfile-command to bot-workflows@6bde20f
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

feat: parse ZLF files captured via PTI with newer Zniffer applications
  packages/serial/src/message/ZnifferMessages.ts
  packages/zwave-js/src/lib/zniffer/ZLFEntry.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(bot): resolve leftover merge markers from gh aw update
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

fix(bot): repin analyze-logfile-command to bot-workflows@6bde20f (#9065)
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

refactor(zniffer): clarify PTI frame parsing (PR #9053 review)
  packages/core/src/util/crc.ts
  packages/serial/src/message/ZnifferMessages.ts
  packages/zwave-js/src/lib/zniffer/ZLFEntry.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(zniffer): keep the XOR checksum local to the Zniffer
  packages/core/src/util/crc.ts
  packages/serial/src/message/ZnifferMessages.ts
  packages/zwave-js/src/lib/zniffer/ZLFEntry.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs(zniffer): move the PTI frame layout into the function, cite sources
  packages/zwave-js/src/lib/zniffer/ZLFEntry.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: parse ZLF files captured via PTI with newer Zniffer applications (#9053)
  packages/serial/src/message/ZnifferMessages.ts
  packages/zwave-js/src/lib/zniffer/ZLFEntry.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: proceed with User Code CC interview when U3C capabilities are unknown (#9068)
  packages/cc/src/cc/UserCodeCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
