Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: broken tests
  docs/usage/esphome-connection.md
  packages/serial/src/esphome/ESPHomeMessage.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: support ESPHome API encryption (#8526)
  .github/copilot-instructions.md
  docs/usage/esphome-connection.md
  packages/core/src/crypto/operations.ts
  packages/core/src/crypto/primitives/primitives.browser.ts
  packages/core/src/crypto/primitives/primitives.node.ts
  packages/serial/src/bindings/node.ts
  packages/serial/src/esphome/ESPHomeMessage.test.ts
  packages/serial/src/esphome/ESPHomeMessage.ts
  packages/serial/src/esphome/noise/NoiseProtocol.ts
  packages/serial/src/esphome/parsers/ESPHomeMessageParser.ts
  packages/serial/src/esphome/parsers/NoiseDecryptTransform.ts
  packages/serial/src/esphome/parsers/NoiseFrameParser.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
  packages/shared/src/bindings.ts
  test/run.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/serial/src/esphome/noise/NoiseProtocol.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement TransferProtocolCC command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/transport/TransferProtocolCCMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement EnableNodeNLS command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/EnableNodeNLSMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement GetNodeNLSState command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/GetNodeNLSStateMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement GetNLSNodes command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/capability/GetNLSNodesMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: forward decrypted protocol frames
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/serial/src/index_serialapi.ts
  packages/serial/src/serialapi/transport/TransferProtocolCCMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement sending encrypted commands for the Z-Wave stack
  packages/serial/src/index_serialapi.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: incorrect import
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement new Security2CC commands and API
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/index.ts
  packages/cc/src/lib/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add supportsNLS flag to KEX Report command
  packages/cc/src/cc/Security2CC.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: expose desire to use NLS as a bootstrapping result
  packages/cc/src/cc/Security2CC.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/Inclusion.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: support enabling NLS during device inclusion
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/index.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/Security2.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: enable NLS on controller after inclusion, fix SAPI commands
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/EnableNodeNLSMessages.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: update to latest spec version
  packages/serial/src/index_serialapi.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/serial/src/serialapi/transport/SendProtocolDataMessages.ts
  packages/shared/src/AsyncQueue.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: make it work
  packages/core/src/definitions/MessagePriority.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
  packages/serial/src/serialapi/transport/SendProtocolDataMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: cleanup
  docs/api/driver.md
  packages/cc/src/cc/index.ts
  packages/cc/src/lib/traits.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/node/CCHandlers/NotificationCC.ts
  packages/zwave-js/src/lib/node/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: rename to lookupUserIdInNotificationEvents
  docs/api/driver.md
  packages/cc/src/lib/traits.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/node/CCHandlers/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add option to include user code and status in notification events (#8541)
  docs/api/driver.md
  packages/cc/src/lib/traits.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/node/CCHandlers/NotificationCC.ts
  packages/zwave-js/src/lib/node/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/CCs/ApplicationStatus.md
  docs/api/CCs/FirmwareUpdateMetaData.md
  docs/api/CCs/ManufacturerProprietary.md
  docs/api/CCs/Security.md
  docs/api/CCs/Security2.md
  docs/api/CCs/SoundSwitch.md
  docs/api/CCs/ThermostatMode.md
  docs/api/CCs/UserCode.md
  docs/api/CCs/_sidebar.md
  docs/api/CCs/index.md
  docs/api/config-manager.md
  docs/api/driver.md
  docs/api/node.md
  docs/api/zniffer.md
  docs/examples/_sidebar.md
  packages/cc/cc.api.md
  packages/cc/src/cc/index.ts
  packages/config/config.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/shared/shared.api.md
  packages/testing/testing.api.md
  packages/zwave-js/zwave-js.api.md
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: migrate zwave-js-bot PR publishing to use OIDC
  .github/bot-scripts/index.cjs
  .github/bot-scripts/packPr.cjs
  .github/workflows/test-and-release.yml
  .github/workflows/zwave-js-bot_comment.yml
Due: none

feat(config): add ZEN16 800LR support with distinct params 12-14
  packages/config/config/devices/0x027a/zen16.json
Due: node maintenance/fmt-staged.js

refactor: restore packPr.cjs script for easier maintenance
  .github/bot-scripts/index.cjs
  .github/bot-scripts/packPr.cjs
  .github/workflows/test-and-release.yml
Due: none

fix: restore trusted checkout pattern for security
  .github/workflows/test-and-release.yml
Due: none

fix: reverse checkout order to prevent trusted folder cleanup
  .github/workflows/test-and-release.yml
Due: none

fix: cleanup
  packages/config/config/devices/0x027a/zen16.json
Due: node maintenance/fmt-staged.js

feat: try to find Z-Wave QR code strings in longer strings
  packages/core/src/qr/index.ts
  packages/core/src/qr/parse.test.ts
  packages/core/src/qr/parse.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): update Zooz ZEN16 to support 800 series version (#8542)
  packages/config/config/devices/0x027a/zen16.json
Due: node maintenance/fmt-staged.js

fix: cleanup
  packages/cc/maintenance/generateCCExports.ts
  packages/core/src/qr/parse.test.ts
  packages/core/src/qr/parse.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: try to find Z-Wave QR code strings in longer strings (#8545)
  packages/cc/maintenance/generateCCExports.ts
  packages/core/src/qr/parse.test.ts
  packages/core/src/qr/parse.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: automatically reset `toneId` to 0 after tone duration elapses
  packages/cc/src/cc/SoundSwitchCC.ts
  packages/cc/src/cc/index.ts
  packages/zwave-js/src/lib/node/CCHandlers/SoundSwitchCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/cc/SoundSwitchCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: automatically reset `toneId` to 0 after tone duration elapses (#8546)
  packages/cc/src/cc/SoundSwitchCC.ts
  packages/cc/src/cc/index.ts
  packages/zwave-js/src/lib/node/CCHandlers/SoundSwitchCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/cc/SoundSwitchCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report 🤖 (#8358)
  docs/api/CCs/ApplicationStatus.md
  docs/api/CCs/FirmwareUpdateMetaData.md
  docs/api/CCs/ManufacturerProprietary.md
  docs/api/CCs/Security.md
  docs/api/CCs/Security2.md
  docs/api/CCs/SoundSwitch.md
  docs/api/CCs/ThermostatMode.md
  docs/api/CCs/UserCode.md
  docs/api/CCs/_sidebar.md
  docs/api/CCs/index.md
  docs/api/config-manager.md
  docs/api/driver.md
  docs/api/node.md
  docs/api/zniffer.md
  docs/examples/_sidebar.md
  packages/cc/cc.api.md
  packages/cc/src/cc/index.ts
  packages/config/config.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/shared/shared.api.md
  packages/testing/testing.api.md
  packages/zwave-js/zwave-js.api.md
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
