Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

docs(config): use allowed for gapped ranges
  .agents/instructions/config-files.md
Due: node maintenance/fmt-staged.js

docs(config): use allowed for gapped parameter ranges (#9199)
  .agents/instructions/config-files.md
Due: node maintenance/fmt-staged.js

ci(copilot): cache semantic model
  .github/workflows/copilot-setup-steps.yml
  packages/mcp-server-dev/package.json
  packages/mcp-server-dev/src/semantic/embedding.ts
  packages/mcp-server-dev/src/semantic/env.test.ts
  packages/mcp-server-dev/src/semantic/env.ts
  packages/mcp-server-dev/src/semantic/prefetchModel.ts
  packages/mcp-server-dev/src/semantic/printModelCacheKey.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci: avoid persisting setup credentials
  .github/workflows/copilot-setup-steps.yml
Due: none

ci(copilot): cache semantic model (#9200)
  .github/workflows/copilot-setup-steps.yml
  packages/mcp-server-dev/package.json
  packages/mcp-server-dev/src/semantic/embedding.ts
  packages/mcp-server-dev/src/semantic/env.test.ts
  packages/mcp-server-dev/src/semantic/env.ts
  packages/mcp-server-dev/src/semantic/prefetchModel.ts
  packages/mcp-server-dev/src/semantic/printModelCacheKey.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(ci): precompute Copilot semantic index
  .github/workflows/copilot-setup-steps.yml
  packages/mcp-server-dev/package.json
  packages/mcp-server-dev/src/semantic/env.test.ts
  packages/mcp-server-dev/src/semantic/env.ts
  packages/mcp-server-dev/src/semantic/prepareIndex.ts
  packages/mcp-server-dev/src/semantic/printIndexCacheKey.ts
  packages/mcp-server-dev/src/semantic/service.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: arm bootstrap reception before crypto initialization (PR #9192 review)
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test(mcp): remove redundant cache key test
  packages/mcp-server-dev/src/semantic/env.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(ci): precompute Copilot semantic index (#9201)
  .github/workflows/copilot-setup-steps.yml
  packages/mcp-server-dev/package.json
  packages/mcp-server-dev/src/semantic/env.ts
  packages/mcp-server-dev/src/semantic/prepareIndex.ts
  packages/mcp-server-dev/src/semantic/printIndexCacheKey.ts
  packages/mcp-server-dev/src/semantic/service.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Change unit for Acceleration Change Report Threshold
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA055 device configuration
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

Correct minValue for zwa055 configuration
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

fix: apply docs formatting during generation
  packages/maintenance/src/docs/generateCCAPIs.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: resolve generated CC values format path
  packages/cc/maintenance/generateCCValueDefinitions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): format ZWA055 config (PR #9089 review)
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

fix: apply path-specific formatting during code generation (#9202)
  packages/cc/maintenance/generateCCValueDefinitions.ts
  packages/maintenance/src/docs/generateCCAPIs.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  packages/cc/cc.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

chore: migrate custom lint rules to oxlint
  .oxlintrc.json
  eslint.config.mjs
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/ccapi-validate-args.ts
  packages/eslint-plugin/src/rules/consistent-cc-classes.ts
  packages/eslint-plugin/src/rules/consistent-cc-value-definitions.ts
  packages/eslint-plugin/src/rules/no-debug-in-tests.ts
  packages/eslint-plugin/src/rules/no-internal-cc-types.ts
  packages/eslint-plugin/src/rules/no-unnecessary-bytes-from.ts
  packages/eslint-plugin/src/rules/no-workspace-self-import.ts
  packages/eslint-plugin/src/utils.ts
  packages/zwave-js/src/lib/test/cc-specific/userCodeCorrectCommandByVersion.test.ts
  packages/zwave-js/src/lib/test/driver/ignoreCCVersion0ForKnownSupportedCCs.test.ts
  packages/zwave-js/src/lib/test/driver/setValueFailedSupervisionGet.test.ts
  packages/zwave-js/src/lib/test/driver/setValueSupervisionSlowDevice.test.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA055 Door / Window Sensor 8 (#9089)
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

docs: update typed documentation and API report 🤖 (#9176)
  packages/cc/cc.api.md
  packages/core/core.api.md
  packages/nvmedit/nvmedit.api.md
  packages/serial/serial.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

refactor: simplify oxlint plugin types
  .oxlintrc.json
  package.json
  packages/eslint-plugin/src/utils.ts
  packages/zwave-js/src/lib/test/cc-specific/userCodeCorrectCommandByVersion.test.ts
  packages/zwave-js/src/lib/test/driver/ignoreCCVersion0ForKnownSupportedCCs.test.ts
  packages/zwave-js/src/lib/test/driver/setValueFailedSupervisionGet.test.ts
  packages/zwave-js/src/lib/test/driver/setValueSupervisionSlowDevice.test.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: remove lint rule identity helper
  packages/eslint-plugin/src/rules/ccapi-validate-args.ts
  packages/eslint-plugin/src/rules/consistent-cc-classes.ts
  packages/eslint-plugin/src/rules/consistent-cc-value-definitions.ts
  packages/eslint-plugin/src/rules/no-debug-in-tests.ts
  packages/eslint-plugin/src/rules/no-internal-cc-types.ts
  packages/eslint-plugin/src/rules/no-unnecessary-bytes-from.ts
  packages/eslint-plugin/src/rules/no-workspace-self-import.ts
  packages/eslint-plugin/src/utils.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: migrate syntax-only custom rules to Oxlint (#9203)
  .oxlintrc.json
  eslint.config.mjs
  package.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/ccapi-validate-args.ts
  packages/eslint-plugin/src/rules/consistent-cc-classes.ts
  packages/eslint-plugin/src/rules/consistent-cc-value-definitions.ts
  packages/eslint-plugin/src/rules/no-debug-in-tests.ts
  packages/eslint-plugin/src/rules/no-internal-cc-types.ts
  packages/eslint-plugin/src/rules/no-unnecessary-bytes-from.ts
  packages/eslint-plugin/src/rules/no-workspace-self-import.ts
  packages/eslint-plugin/src/utils.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: expose endpoint groups from device configuration
  .agents/instructions/config-files.md
  .agents/skills/add-endpoint-labels/SKILL.md
  docs/api/endpoint.md
  docs/api/node.md
  docs/config-files/conditional-settings.md
  docs/config-files/file-format.md
  packages/config/config.api.md
  packages/config/maintenance/importConfig.ts
  packages/config/maintenance/lintConfigFiles.test.ts
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/config/src/devices/EndpointGroupConfig.test.ts
  packages/config/src/devices/EndpointGroupConfig.ts
  packages/config/src/index.ts
  packages/zwave-js/src/Node.ts
  packages/zwave-js/src/Node_safe.ts
  packages/zwave-js/src/lib/node/Dump.ts
  packages/zwave-js/src/lib/node/Endpoint.test.ts
  packages/zwave-js/src/lib/node/EndpointGroup.ts
  packages/zwave-js/src/lib/node/endpoint-mixins/00_Base.ts
  packages/zwave-js/src/lib/node/mixins/50_Endpoints.ts
  packages/zwave-js/src/lib/node/mixins/80_DeviceConfig.ts
  packages/zwave-js/zwave-js.api.md
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): correct and annotate zwa057 US temperature watermark minimum
  packages/config/config/devices/0x0371/zwa057.json
Due: node maintenance/fmt-staged.js

fix(config): use the allowed field for threshold_check_time gaps
  packages/config/config/devices/0x0086/templates/aeotec_template.json
Due: node maintenance/fmt-staged.js

fix: format config and fix lint errors
  packages/config/config/devices/0x0086/templates/aeotec_template.json
Due: node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA057 aërQ Temperature and Humidity Sensor 8 (#9206)
  packages/config/config/devices/0x0086/templates/aeotec_template.json
  packages/config/config/devices/0x0371/zwa057.json
Due: node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA065 Siren 8
  packages/config/config/devices/0x0371/zwa065.json
  packages/eslint-plugin/src/utils/wordsAndNames.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add AU/NZ product types to Aeotec ZWA065 Siren 8
  packages/config/config/devices/0x0371/zwa065.json
Due: node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA065 Siren 8 (#9207)
  packages/config/config/devices/0x0371/zwa065.json
  packages/eslint-plugin/src/utils/wordsAndNames.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): correct ZWA056 regional product types and parameters
  packages/config/config/devices/0x0371/zwa056.json
Due: node maintenance/fmt-staged.js

fix(config): restrict ZWA055 Basic Set values to the legal value set
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

refactor(config): rename the aeotec low_battery_threshold template
  packages/config/config/devices/0x0086/templates/aeotec_template.json
  packages/config/config/devices/0x0086/zw097.json
  packages/config/config/devices/0x0086/zw100.json
  packages/config/config/devices/0x0086/zw112.json
  packages/config/config/devices/0x0086/zw120.json
  packages/config/config/devices/0x0086/zw122.json
  packages/config/config/devices/0x0086/zw129.json
  packages/config/config/devices/0x0086/zw130.json
  packages/config/config/devices/0x016a/ft100.json
  packages/config/config/devices/0x016a/ft112.json
  packages/config/config/devices/0x0371/zw187.json
  packages/config/config/devices/0x0371/zwa003.json
  packages/config/config/devices/0x0371/zwa004.json
  packages/config/config/devices/0x0371/zwa024.json
  packages/config/config/devices/0x0371/zwa050.json
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

fix(config): restrict ZWA055 Basic Set values to the legal value set, correct template key (#9208)
  packages/config/config/devices/0x0086/templates/aeotec_template.json
  packages/config/config/devices/0x0086/zw097.json
  packages/config/config/devices/0x0086/zw100.json
  packages/config/config/devices/0x0086/zw112.json
  packages/config/config/devices/0x0086/zw120.json
  packages/config/config/devices/0x0086/zw122.json
  packages/config/config/devices/0x0086/zw129.json
  packages/config/config/devices/0x0086/zw130.json
  packages/config/config/devices/0x016a/ft100.json
  packages/config/config/devices/0x016a/ft112.json
  packages/config/config/devices/0x0371/zw187.json
  packages/config/config/devices/0x0371/zwa003.json
  packages/config/config/devices/0x0371/zwa004.json
  packages/config/config/devices/0x0371/zwa024.json
  packages/config/config/devices/0x0371/zwa050.json
  packages/config/config/devices/0x0371/zwa055.json
Due: node maintenance/fmt-staged.js

fix(config): use recommendedValue and low battery template for ZWA056
  packages/config/config/devices/0x0371/zwa056.json
Due: node maintenance/fmt-staged.js

chore(config): shorten ZWA056 recommendedValue comment
  packages/config/config/devices/0x0371/zwa056.json
Due: node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA056 Water Sensor 8 (#9161)
  packages/config/config/devices/0x0371/zwa056.json
Due: node maintenance/fmt-staged.js

fix(config): add Aeotec ZWA012 productId 0x0037 (#9098)
  packages/config/config/devices/0x0371/zwa012.json
Due: node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js
