Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): fix payload length guard in DoorLockCC Configuration Report
  packages/cc/src/cc/DoorLockCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): fix payload length guard in DoorLockCC Configuration Report (#9155)
  packages/cc/src/cc/DoorLockCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: preserve received CommandClass frame type (#9147)
  packages/cc/src/lib/CommandClass.ts
  packages/zwave-js/src/lib/test/driver/receiveApplicationCommandHandlerBridge.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: less ternaries
  packages/cc/src/cc/BinarySensorCC.ts
  packages/cc/src/cc/ConfigurationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

style: fix lint
  packages/cc/src/cc/ConfigurationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): ignore report fields from higher CC versions than advertised (#9154)
  packages/cc/src/cc/BatteryCC.ts
  packages/cc/src/cc/BinarySensorCC.ts
  packages/cc/src/cc/ConfigurationCC.ts
  packages/cc/src/cc/IndicatorCC.ts
  packages/cc/src/cc/MeterCC.ts
  packages/cc/src/cc/ProtectionCC.ts
  packages/cc/src/cc/ThermostatModeCC.ts
  packages/cc/src/cc/UserCodeCC.ts
  packages/cc/src/cc/UserCredentialCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/zwave-js/src/lib/test/compat/mapBasicSetAutoToBinarySensor.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update changelog
  CHANGELOG.md
Due: node maintenance/fmt-staged.js

chore: release v15.28.0
  CHANGELOG.md
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/config/src/_version.ts
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/_version.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/CCs/ManufacturerSpecific.md
  docs/api/CCs/ThermostatMode.md
  packages/cc/cc.api.md
  packages/config/config.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

docs: update typed documentation and API report 🤖 (#9094)
  docs/api/CCs/ManufacturerSpecific.md
  docs/api/CCs/ThermostatMode.md
  packages/cc/cc.api.md
  packages/config/config.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

Add Simon 100 Battery Master Roller Blind configuration
  packages/config/config/devices/0x0267/10002181-13x.json
Due: node maintenance/fmt-staged.js

feat(config): update Inovelli VZW32-SN P111 to match public docs (#9116)
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

fix: nits
  packages/config/config/devices/0x0267/10002181-13x.json
Due: node maintenance/fmt-staged.js

feat(config): add Simon 100 Battery Master Roller Blind (#9158)
  packages/config/config/devices/0x0267/10002181-13x.json
Due: node maintenance/fmt-staged.js

fix(cc): ignore Notification Reports with event 0xfe in response to a Get
  packages/cc/src/cc/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): ignore Notification Reports with event `0xfe` in response to a Get (#9160)
  packages/cc/src/cc/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Add ZWA056 Water Sensor 8 configuration
  packages/config/config/devices/0x0371/zwa056.json
Due: node maintenance/fmt-staged.js

fix: format config and fix lint errors
  packages/config/config/devices/0x0371/zwa056.json
Due: node maintenance/fmt-staged.js

chore: recompile gh-aw workflows
  .github/workflows/agentics-maintenance.yml
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
Due: none

ci: trigger the Z-Wave JS UI dependency bump after each release
  .github/workflows/test-and-release.yml
Due: none

feat: persist the last time a node was awake
  docs/api/node.md
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: record lastAwake whenever the node is observed awake
  docs/api/node.md
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: don't move lastAwake when restoring a remembered status
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: restore the awake status without recording an observation
  docs/api/node.md
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: add restoreAwakeStatus instead of driving the status machine from outside
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: keep a single status machine call for the awake status
  docs/api/node.md
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: cover the lastAwake timestamp
  packages/zwave-js/src/lib/driver/NetworkCache.test.ts
  packages/zwave-js/src/lib/test/node/Node.lastAwake.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci: wait for npm to serve the new version before bumping Z-Wave JS UI
  .github/workflows/test-and-release.yml
Due: none

fix(cc): idle notification variables on 0xfe Get responses
  packages/cc/src/cc/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: cover 0xfe notification handling for Get responses and unsolicited reports
  packages/zwave-js/src/lib/test/cc-specific/notificationIdleOnUnknownEvent.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): update Zooz configs for new firmware parameters
  packages/config/config/devices/0x027a/zen04.json
  packages/config/config/devices/0x027a/zen17.json
  packages/config/config/devices/0x027a/zen34.json
  packages/config/config/devices/0x027a/zse11.json
Due: node maintenance/fmt-staged.js

refactor(cc): persist solicited notification reports in getInternal
  packages/cc/src/cc/NotificationCC.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationIdleOnUnknownEvent.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): update Zooz configs for new firmware parameters (#9175)
  packages/config/config/devices/0x027a/zen04.json
  packages/config/config/devices/0x027a/zen17.json
  packages/config/config/devices/0x027a/zen34.json
  packages/config/config/devices/0x027a/zse11.json
Due: node maintenance/fmt-staged.js

docs(cc): note getInternal persists the response (PR #9174 review)
  packages/cc/src/cc/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Refine comment for getInternal method
  packages/cc/src/cc/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: simplify comments
  packages/zwave-js/src/lib/test/cc-specific/notificationIdleOnUnknownEvent.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: simplify comments
  packages/cc/src/cc/NotificationCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): idle notification variables on `0xfe` Get responses (#9174)
  packages/cc/src/cc/NotificationCC.ts
  packages/zwave-js/src/lib/test/cc-specific/notificationIdleOnUnknownEvent.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): add "Off" option for Z-TRM7 standby display brightness
  packages/config/config/devices/0x019b/templates/heatit_template.json
  packages/config/config/devices/0x019b/z-trm7.json
Due: node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
