Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

fix: lint
  docs/api/endpoint.md
  packages/zwave-js/src/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/zwave-js/src/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Add LAMP-ZW2 device configuration
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Add configuration for LAMP-ZW2 device
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Remove unnecessary properties from lamp-zw2.json
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Remove writeOnly property from lamp-zw2.json
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Delete packages/config/config/devices/0x0464 directory
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Refactor lamp-zw2.json by removing 'unsigned' properties
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Refine Ramp Rate descriptions and add 'unsigned' property
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Update labels to use title case in lamp-zw2.json
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Fix label casing in lamp-zw2.json
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

Refactor options structure in lamp-zw2.json
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

feat(config): format Versa Wireless LAMP-ZW2 config
  packages/config/config/devices/0x0464/lamp-zw2.json
Due: node maintenance/fmt-staged.js

chore: bump Node.js requirement to 22.12
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/generate-docs.yml
  .github/workflows/nightly-config-publish.yml
  .github/workflows/test-and-release.yml
  .github/workflows/zwave-js-bot_comment.yml
  .github/workflows/zwave-js-bot_discussion.yml
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
  tsconfig.base.json
  yarn.lock
Due: node maintenance/fmt-staged.js

fix: build
  packages/core/src/values/CacheBackedMap.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

build: drop CJS build step
  .github/workflows/test-and-release.yml
  api-extractor-base.json
  maintenance/build.ts
  package.json
  packages/cc/package.json
  packages/cc/tsconfig.build.json
  packages/config/package.json
  packages/config/src/ConfigManager.test.ts
  packages/config/tsconfig.build.json
  packages/core/package.json
  packages/core/tsconfig.build.json
  packages/eslint-plugin/package.json
  packages/host/package.json
  packages/host/tsconfig.build.json
  packages/maintenance/package.json
  packages/maintenance/tsconfig.build.json
  packages/nvmedit/bin/nvmedit.mjs
  packages/nvmedit/package.json
  packages/nvmedit/tsconfig.build.json
  packages/serial/package.json
  packages/serial/tsconfig.build.json
  packages/shared/package.json
  packages/shared/tsconfig.build.json
  packages/testing/package.json
  packages/testing/tsconfig.build.json
  packages/zwave-js/bin/mock-server.mjs
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/tsconfig.build.json
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: drop api-extractor
  .github/workflows/test-and-release.yml
  .vscode/settings.json
  api-extractor-base.json
  package.json
  packages/cc/api-extractor.json
  packages/cc/cc.api.md
  packages/cc/package.json
  packages/config/api-extractor.json
  packages/config/config.api.md
  packages/config/package.json
  packages/core/api-extractor.json
  packages/core/core.api.md
  packages/core/package.json
  packages/host/api-extractor.json
  packages/host/host.api.md
  packages/host/package.json
  packages/nvmedit/api-extractor.json
  packages/nvmedit/nvmedit.api.md
  packages/nvmedit/package.json
  packages/serial/api-extractor.json
  packages/serial/package.json
  packages/serial/serial.api.md
  packages/shared/api-extractor.json
  packages/shared/package.json
  packages/shared/shared.api.md
  packages/testing/api-extractor.json
  packages/testing/package.json
  packages/testing/testing.api.md
  packages/zwave-js/api-extractor.json
  packages/zwave-js/package.json
  packages/zwave-js/zwave-js.api.md
  turbo.json
  yarn.lock
Due: node maintenance/fmt-staged.js

fix: missed a spot
  .github/workflows/generate-docs.yml
Due: none

refactor: drop `.../safe` entrypoints
  docs/api/overview.md
  packages/cc/package.json
  packages/cc/src/index_safe.ts
  packages/config/package.json
  packages/config/src/Logger.ts
  packages/config/src/Logger_safe.ts
  packages/config/src/Manufacturers.ts
  packages/config/src/devices/AssociationConfig.ts
  packages/config/src/devices/CompatConfig.ts
  packages/config/src/devices/ConditionalItem.ts
  packages/config/src/devices/ConditionalPrimitive.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/config/src/devices/DeviceMetadata.ts
  packages/config/src/devices/EndpointConfig.ts
  packages/config/src/devices/ParamInformation.ts
  packages/config/src/devices/SceneConfig.ts
  packages/config/src/index_browser.ts
  packages/config/src/index_safe.ts
  packages/config/src/utils.ts
  packages/config/src/utils_safe.ts
  packages/core/package.json
  packages/core/src/index_safe.ts
  packages/eslint-plugin/src/rules/no-forbidden-imports.ts
  packages/nvmedit/package.json
  packages/nvmedit/src/index_safe.ts
  packages/serial/package.json
  packages/serial/src/index_browser.ts
  packages/serial/src/index_safe.ts
  packages/serial/src/log/Logger.ts
  packages/serial/src/log/Logger_safe.ts
  packages/shared/package.json
  packages/shared/src/index_safe.ts
  packages/zwave-js/package.json
  packages/zwave-js/src/Controller_safe.ts
  packages/zwave-js/src/Node_safe.ts
  packages/zwave-js/src/Utils.ts
  packages/zwave-js/src/Utils_safe.ts
  packages/zwave-js/src/Zniffer_safe.ts
  packages/zwave-js/src/index_safe.ts
  packages/zwave-js/src/lib/test/cc-specific/userCodeCorrectCommandByVersion.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove tests for safe entrypoints
  .github/workflows/test-and-release.yml
Due: none

chore: raise minimum Node.js version to 22.17 (#8824)
  .github/actions/extract-log-analyzer-query/action.yml
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
Due: node maintenance/fmt-staged.js

fix(config): add lifeline association and remove Binary Switch CC for iBlinds v2 (IB2.0)
  packages/config/config/devices/0x0287/ib2_0.json
Due: node maintenance/fmt-staged.js

fix: nits
  packages/cc/src/cc/ProtectionCC.ts
  packages/zwave-js/src/lib/test/driver/setValueProtectionNoSupervision.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): verify new state after Protection CC Set (#8831)
  packages/cc/src/cc/ProtectionCC.ts
  packages/zwave-js/src/lib/test/driver/setValueProtectionNoSupervision.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: unified API for adding users and credentials together in one call
  docs/api/endpoint.md
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update some VSCode settings
  .vscode/settings.json
Due: node maintenance/fmt-staged.js

fix: add missing export
  packages/zwave-js/src/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: update some VSCode settings (#8840)
  .vscode/settings.json
Due: node maintenance/fmt-staged.js

fix: unified API for adding users and credentials together in one call (#8837)
  docs/api/endpoint.md
  packages/zwave-js/src/Node.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: nits
  packages/config/config/devices/0x0287/ib2_0.json
Due: node maintenance/fmt-staged.js

fix(config): add lifeline association and remove Binary Switch CC for iBlinds v2 (IB2.0) (#8830)
  packages/config/config/devices/0x0287/ib2_0.json
Due: node maintenance/fmt-staged.js

fix: lint
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(cc): purge U3C cache before bulk delete events (#8829)
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js
