Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): define range for param 52 (long press time)
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

style(config): apply dprint formatting (auto-fix)
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

fix(config): polish LED intensity option labels
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

fix: cleanup
  packages/zwave-js/src/lib/node/Endpoint.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/compat/climaxSDCO.test.ts
  packages/zwave-js/src/lib/test/compat/fixtures/climaxSDCO/deviceConfig.json
  packages/zwave-js/src/lib/test/compat/forceAddBasicCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: cleanup
  packages/zwave-js/src/lib/node/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: uncomment debug flag
  packages/zwave-js/src/lib/test/compat/forceAddBasicCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove unused imports
  packages/zwave-js/src/lib/test/compat/forceAddBasicCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: allow compat flags to override device class for CC support (#8588)
  packages/zwave-js/src/lib/node/Endpoint.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/compat/fixtures/forceAddBasicCC/deviceConfig.json
  packages/zwave-js/src/lib/test/compat/forceAddBasicCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: small cleanup
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

chore: deduplicate dependencies (#8580)
  yarn.lock
Due: none

feat(config): complete device config for Contec/Da Vinci Touch Panel (FW 10.10) (#8556)
  packages/config/config/devices/0x025d/da_vinci_switch_default.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz ZEN56, update ZEN32,71,72,77
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen32.json
  packages/config/config/devices/0x027a/zen56.json
  packages/config/config/devices/0x027a/zen71.json
  packages/config/config/devices/0x027a/zen72.json
  packages/config/config/devices/0x027a/zen77.json
Due: node maintenance/fmt-staged.js

fix(config): update Zooz ZSE42 config to the latest firmware
  packages/config/config/devices/0x027a/zse42.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz ZEN56, update ZEN32, 71, 72, 77 (#8590)
  packages/config/config/devices/0x027a/templates/zooz_template.json
  packages/config/config/devices/0x027a/zen32.json
  packages/config/config/devices/0x027a/zen56.json
  packages/config/config/devices/0x027a/zen71.json
  packages/config/config/devices/0x027a/zen72.json
  packages/config/config/devices/0x027a/zen77.json
Due: node maintenance/fmt-staged.js

chore: whitelist test commands for Copilot (#8592)
  .vscode/settings.json
Due: node maintenance/fmt-staged.js

refactor: reorganize skill documents
  .claude/skills/implement-zwave-cc.md
  .claude/skills/implement-zwave-cc/SKILL.md
  .claude/skills/implement-zwave-cc/reference/command-patterns.md
  .claude/skills/implement-zwave-cc/reference/parsing-serialization.md
Due: node maintenance/fmt-staged.js

chore: create Claude skill for implementing a CC
  .claude/skills/implement-zwave-cc.md
Due: node maintenance/fmt-staged.js

fix: lint
  .claude/skills/implement-zwave-cc/SKILL.md
  .claude/skills/implement-zwave-cc/reference/command-patterns.md
  .claude/skills/implement-zwave-cc/reference/parsing-serialization.md
Due: node maintenance/fmt-staged.js

chore: omit codegen output from linting
  eslint.config.mjs
Due: none

chore: create Claude skill for implementing a CC (#8591)
  .claude/skills/implement-zwave-cc/SKILL.md
  .claude/skills/implement-zwave-cc/reference/command-patterns.md
  .claude/skills/implement-zwave-cc/reference/parsing-serialization.md
Due: node maintenance/fmt-staged.js

chore: omit codegen output from linting (#8593)
  eslint.config.mjs
Due: none

fix: move parameter 24 down
  packages/config/config/devices/0x027a/zen32.json
Due: node maintenance/fmt-staged.js

fix(config): update Zooz ZEN32 config to the latest firmware (#8559)
  packages/config/config/devices/0x027a/zen32.json
Due: node maintenance/fmt-staged.js

feat: implement GetNodeNLSState command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/GetNodeNLSStateMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement EnableNodeNLS command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/EnableNodeNLSMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement GetNLSNodes command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/capability/GetNLSNodesMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement TransferProtocolCC command
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/transport/TransferProtocolCCMessages.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: forward decrypted protocol frames
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/serial/src/index_serialapi.ts
  packages/serial/src/serialapi/transport/TransferProtocolCCMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement sending encrypted commands for the Z-Wave stack
  packages/serial/src/index_serialapi.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: incorrect import
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add supportsNLS flag to KEX Report command
  packages/cc/src/cc/Security2CC.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement new Security2CC commands and API
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/index.ts
  packages/cc/src/lib/_Types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: expose desire to use NLS as a bootstrapping result
  packages/cc/src/cc/Security2CC.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/Inclusion.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: support enabling NLS during device inclusion
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/index.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/Security2.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: enable NLS on controller after inclusion, fix SAPI commands
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/network-mgmt/EnableNodeNLSMessages.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: make it work
  packages/core/src/definitions/MessagePriority.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/serial/src/serialapi/transport/SendDataShared.ts
  packages/serial/src/serialapi/transport/SendProtocolDataMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: update to latest spec version
  packages/serial/src/index_serialapi.ts
  packages/serial/src/message/Constants.ts
  packages/serial/src/serialapi/transport/RequestProtocolCCEncryptionMessages.ts
  packages/serial/src/serialapi/transport/SendProtocolDataMessages.ts
  packages/shared/src/AsyncQueue.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: lint
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
