Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: test logic
  packages/zwave-js/src/lib/test/node/Node.lastAwake.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: persist the last time a node was awake (#9173)
  docs/api/node.md
  packages/zwave-js/src/lib/driver/NetworkCache.test.ts
  packages/zwave-js/src/lib/driver/NetworkCache.ts
  packages/zwave-js/src/lib/node/CCHandlers/WakeUpCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/test/node/Node.lastAwake.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: exclude controller commands from poll timing
  packages/serial/src/serialapi/misc/GetBackgroundRSSIMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/backgroundRSSIPollTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: reference issue #9182
  packages/zwave-js/src/lib/test/driver/backgroundRSSIPollTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: exclude controller commands and forced replies from poll timing (#9183)
  packages/serial/src/serialapi/misc/GetBackgroundRSSIMessages.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/backgroundRSSIPollTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: update typed documentation and API report
  docs/api/CCs/Notification.md
  packages/cc/cc.api.md
  packages/core/core.api.md
  packages/serial/serial.api.md
  packages/zwave-js/zwave-js.api.md
Due: node maintenance/fmt-staged.js

chore: switch from Dependabot to Renovate
  .github/bot-scripts/index.cjs
  .github/bot-scripts/shouldAutomerge.cjs
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/bot-automerge.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/gh-aw-compile-check.yml
  .github/workflows/gh-aw-renovate-recompile.yml
Due: none

ci: trigger the recompile only on the workflows that carry a literal gh-aw pin
  .github/workflows/gh-aw-compile-check.yml
  .github/workflows/gh-aw-renovate-recompile.yml
Due: none

ci: require Renovate as the triggering actor of the recompile (PR #9185 review)
  .github/workflows/gh-aw-renovate-recompile.yml
Due: none

chore: switch from Dependabot to Renovate (#9185)
  .github/bot-scripts/index.cjs
  .github/bot-scripts/shouldAutomerge.cjs
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/bot-automerge.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/gh-aw-compile-check.yml
  .github/workflows/gh-aw-dependabot-recompile.yml
  .github/workflows/gh-aw-renovate-recompile.yml
Due: none

feat(config): update Inovelli VZW32-SN P50,P107 for firmware 2.4
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

docs: add AI contribution policy
  AI_POLICY.md
  CONTRIBUTING.md
Due: node maintenance/fmt-staged.js

chore: ignore oxfmt migration in blame
  .git-blame-ignore-revs
Due: none

fix: preserve docs sidebar formatting
  docs/_sidebar.md
  docs/api/CCs/_sidebar.md
  docs/examples/_sidebar.md
  docs/getting-started/migrating/_sidebar.md
  packages/maintenance/src/docs/generateCCAPIs.ts
  packages/maintenance/src/docs/generateExamplesSidebar.ts
  packages/maintenance/src/docs/generateImports.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: format docs sidebars with two-space indent
  .oxfmtrc.jsonc
  docs/_sidebar.md
  docs/api/CCs/_sidebar.md
  docs/examples/_sidebar.md
  docs/getting-started/migrating/_sidebar.md
  packages/maintenance/src/docs/generateCCAPIs.ts
  packages/maintenance/src/docs/generateExamplesSidebar.ts
  packages/maintenance/src/docs/generateImports.ts
  packages/maintenance/src/oxfmt.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: remove unused mock server imports (PR #8596 review)
  server_config.cjs
Due: none

fix: avoid polynomial default marker regex (PR #8596)
  packages/eslint-plugin/src/rules/prefer-defaultvalue.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): add Aeotec ZWA057 aërQ Temperature and Humidity Sensor 8
  packages/config/config/devices/0x0086/templates/aeotec_template.json
  packages/config/config/devices/0x0371/zwa057.json
Due: node maintenance/fmt-staged.js

fix: preserve Markdown code block formatting (PR #8596)
  .agents/instructions/config-files.md
  .agents/skills/author-config-from-web/SKILL.md
  .agents/skills/implement-zwave-cc/SKILL.md
  .agents/skills/implement-zwave-cc/reference/command-patterns.md
  .agents/skills/implement-zwave-cc/reference/parsing-serialization.md
  .agents/skills/integration-tests/SKILL.md
  .agents/skills/integration-tests/reference/test-patterns.md
  .oxfmtrc.jsonc
  docs/api/CCs/ColorSwitch.md
  docs/api/controller.md
  docs/api/driver.md
  docs/api/node.md
  docs/api/registries.md
  docs/api/valueid.md
  docs/api/zniffer.md
  docs/examples/ota-update.md
  packages/maintenance/src/oxfmt.ts
  packages/mcp-server-dev/README.md
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: defer blame ignore until squash merge
  .git-blame-ignore-revs
Due: none

fix: preserve package manifest formatting (PR #8596)
  .oxfmtrc.jsonc
  package.json
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
Due: node maintenance/fmt-staged.js

fix(config): resolve zwa057 schema and template-override lint issues
  packages/config/config/devices/0x0371/zwa057.json
Due: node maintenance/fmt-staged.js

chore: ignore oxfmt migration in git blame (#9191)
  .git-blame-ignore-revs
Due: none

docs: add AI contribution policy (#9189)
  AI_POLICY.md
  CONTRIBUTING.md
Due: node maintenance/fmt-staged.js

fix: await network cache switch before secondary controller bootstrapping
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: clarify joining failure reporting (PR #9192 review)
  docs/api/controller.md
  packages/zwave-js/src/lib/controller/Controller.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: include node ID in invalid payload warnings
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/invalidPayloadLog.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: log invalid payload warnings per node
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/invalidPayloadLog.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: include node ID in invalid payload warnings (#9196)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/invalidPayloadLog.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): update Inovelli VZW32-SN P50, P107 for firmware 2.4 (#9187)
  packages/config/config/devices/0x031e/vzw32-sn.json
Due: node maintenance/fmt-staged.js

fix: keep generated imports consistently sorted
  packages/maintenance/src/oxfmt.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(mcp): expose read-only tool annotations
  packages/mcp-server-dev/src/index.ts
  packages/mcp-server-dev/src/tools/autofixConfig.ts
  packages/mcp-server-dev/src/tools/findSimilarParameters.ts
  packages/mcp-server-dev/src/tools/findTemplateDefinition.ts
  packages/mcp-server-dev/src/tools/findTemplateReferences.ts
  packages/mcp-server-dev/src/tools/format.ts
  packages/mcp-server-dev/src/tools/lintConfig.ts
  packages/mcp-server-dev/src/tools/resolveImport.ts
  packages/mcp-server-dev/src/tools/resolveParam.ts
  packages/mcp-server-dev/src/tools/searchParameterDefinitions.ts
  packages/mcp-server-dev/src/tools/suggestParameterPurpose.ts
  packages/mcp-server-dev/src/types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: load programmatic oxfmt configuration
  packages/maintenance/src/docs/generateCCAPIs.ts
  packages/maintenance/src/docs/generateExamplesSidebar.ts
  packages/maintenance/src/oxfmt.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(mcp): expose read-only tool annotations (#9198)
  packages/mcp-server-dev/src/index.ts
  packages/mcp-server-dev/src/tools/autofixConfig.ts
  packages/mcp-server-dev/src/tools/findSimilarParameters.ts
  packages/mcp-server-dev/src/tools/findTemplateDefinition.ts
  packages/mcp-server-dev/src/tools/findTemplateReferences.ts
  packages/mcp-server-dev/src/tools/format.ts
  packages/mcp-server-dev/src/tools/lintConfig.ts
  packages/mcp-server-dev/src/tools/resolveImport.ts
  packages/mcp-server-dev/src/tools/resolveParam.ts
  packages/mcp-server-dev/src/tools/searchParameterDefinitions.ts
  packages/mcp-server-dev/src/tools/suggestParameterPurpose.ts
  packages/mcp-server-dev/src/types.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: use repository oxfmt config for codegen (#9197)
  packages/maintenance/src/docs/generateCCAPIs.ts
  packages/maintenance/src/docs/generateExamplesSidebar.ts
  packages/maintenance/src/oxfmt.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
