Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): use inline override instead of separate template
  packages/config/config/devices/0x019b/templates/heatit_template.json
  packages/config/config/devices/0x019b/z-trm7.json
Due: node maintenance/fmt-staged.js

fix(config): add "Off" option for Z-TRM7 standby display brightness (#9177)
  packages/config/config/devices/0x019b/z-trm7.json
Due: node maintenance/fmt-staged.js

feat(bot): add `@zwave-js-bot approve` command
  .github/workflows/bot-automerge.yml
Due: none

ci(bot): add `@zwave-js-bot approve` command (#9178)
  .github/workflows/bot-automerge.yml
Due: none

refactor(cc): address offline review feedback (PR #9136)
  packages/cc/src/cc/MultiChannelCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/cc/src/lib/CommandClass.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: reject deferred transactions on teardown
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/test/driver/deferredTransactions.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: preserve transaction retry lifecycles
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add command relation transaction coalescing
  packages/cc/src/lib/CommandClass.test.ts
  packages/cc/src/lib/CommandClass.ts
  packages/core/src/definitions/Transmission.ts
  packages/core/src/error/ZWaveError.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Queue.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: clarify comments
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/cc/src/lib/CommandClass.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Queue.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(cc): move encapsulation relation overrides to the follow-up PR
  packages/cc/src/cc/CRC16CC.ts
  packages/cc/src/cc/MultiChannelCC.ts
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(driver): simplify transaction attachments (PR #9136 review)
  packages/cc/src/cc/CRC16CC.ts
  packages/cc/src/cc/MultiChannelCC.ts
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs: clarify command relation contracts (PR #9136 review)
  packages/cc/src/lib/CommandClass.ts
  packages/core/src/error/ZWaveError.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(driver): address review comments (PR #9136 review 2)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Queue.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): always unpause the queue after enqueueTransaction (PR #9136 review)
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(driver): make transaction lifecycle the settlement authority (PR #9136 review)
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/core/src/definitions/Transmission.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/log/Driver.test.ts
  packages/zwave-js/src/lib/test/driver/deferredTransactions.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(driver): move callers into transaction lifecycle (PR #9136 review)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: use virtual command relation dispatch
  packages/cc/src/cc/CRC16CC.ts
  packages/cc/src/cc/MultiChannelCC.ts
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.test.ts
  packages/cc/src/lib/CommandClass.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
  packages/zwave-js/src/lib/test/driver/deferredTransactions.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test(cc): clarify relation fixtures (PR #9136 review)
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(driver): address review comments (PR #9136 review)
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/test/driver/deferredTransactions.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): isolate errors thrown by caller callbacks (PR #9136 review)
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix: address command coalescing review
  packages/cc/src/lib/CommandClass.test.ts
  packages/cc/src/lib/CommandClass.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add framework to deduplicate transactions (#9136)
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/cc/src/lib/CommandClass.ts
  packages/core/src/definitions/Transmission.ts
  packages/core/src/error/ZWaveError.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/Queue.ts
  packages/zwave-js/src/lib/driver/StateMachineShared.ts
  packages/zwave-js/src/lib/driver/Transaction.test.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/log/Driver.test.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
  packages/zwave-js/src/lib/test/driver/deferredTransactions.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(driver): preserve physical poll timing tests
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
  packages/zwave-js/src/lib/test/driver/pollTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: use concrete relation hooks
  packages/cc/src/cc/BasicCC.ts
  packages/cc/src/cc/BinarySwitchCC.ts
  packages/cc/src/cc/MultilevelSwitchCC.ts
  packages/cc/src/cc/ThermostatSetpointCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(cc): use the positive guard pattern in determineRelation
  packages/cc/src/cc/BasicCC.ts
  packages/cc/src/cc/BinarySwitchCC.ts
  packages/cc/src/cc/MultilevelSwitchCC.ts
  packages/cc/src/cc/ThermostatSetpointCC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add concrete command relations
  packages/cc/src/cc/BasicCC.ts
  packages/cc/src/cc/BinarySwitchCC.ts
  packages/cc/src/cc/CommandRelations.test.ts
  packages/cc/src/cc/MultilevelSwitchCC.ts
  packages/cc/src/cc/ThermostatSetpointCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/cc/src/lib/CommandRelationUtils.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(cc): inline the S2 sync extension checks (PR #9137 review)
  packages/cc/src/cc/Security2CC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(cc): split the S2 relation check into commented condition blocks (PR #9137 review)
  packages/cc/src/cc/Security2CC.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(cc): add relation support for encapsulation CCs
  packages/cc/src/cc/CRC16CC.ts
  packages/cc/src/cc/MultiChannelCC.ts
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(cc): address review comments (PR #9137 review)
  packages/cc/src/cc/BasicCC.ts
  packages/cc/src/cc/BinarySwitchCC.ts
  packages/cc/src/cc/MultilevelSwitchCC.ts
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/cc/src/lib/CommandRelationUtils.ts
  packages/core/src/values/Duration.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
  packages/zwave-js/src/lib/test/driver/pollTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: implement command relations for several CCs (#9137)
  packages/cc/src/cc/BasicCC.ts
  packages/cc/src/cc/BinarySwitchCC.ts
  packages/cc/src/cc/CRC16CC.ts
  packages/cc/src/cc/CommandRelations.test.ts
  packages/cc/src/cc/MultiChannelCC.ts
  packages/cc/src/cc/MultilevelSwitchCC.ts
  packages/cc/src/cc/Security2CC.ts
  packages/cc/src/cc/SecurityCC.ts
  packages/cc/src/cc/SupervisionCC.ts
  packages/cc/src/cc/ThermostatSetpointCC.ts
  packages/cc/src/lib/CommandClass.getCommandRelation.test.ts
  packages/core/src/values/Duration.ts
  packages/zwave-js/src/lib/test/driver/commandDeduplication.test.ts
  packages/zwave-js/src/lib/test/driver/pollTiming.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

ci: trigger the Z-Wave JS UI dependency bump after each release
  .github/zwave-js-assistant.yml
Due: none

feat(config): add Zooz ZEN37 parameter 10 for firmware 2.40
  packages/config/config/devices/0x027a/zen37.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz ZEN37 parameter 10 for firmware 2.40 (#9180)
  packages/config/config/devices/0x027a/zen37.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz ZEN12 800LR Motion Dimmer
  packages/config/config/devices/0x027a/zen12.json
Due: node maintenance/fmt-staged.js

fix(config): address review feedback on ZEN12 config
  packages/config/config/devices/0x027a/zen12.json
Due: node maintenance/fmt-staged.js

fix(config): drop 800LR designation from ZEN12 label
  packages/config/config/devices/0x027a/zen12.json
Due: node maintenance/fmt-staged.js

Update packages/config/config/devices/0x027a/zen12.json
  packages/config/config/devices/0x027a/zen12.json
Due: node maintenance/fmt-staged.js

feat(config): add Zooz ZEN12 800LR Motion Dimmer (#9181)
  packages/config/config/devices/0x027a/zen12.json
Due: node maintenance/fmt-staged.js

fix: store the last wake up in the persisted lastAwake property
  docs/api/node.md
  packages/zwave-js/src/lib/node/CCHandlers/WakeUpCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/20_Status.ts
  packages/zwave-js/src/lib/test/node/Node.lastAwake.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
