Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs(config): clarify the configDir fallback comment (PR #8999 review)
  packages/config/src/configDir.browser.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): tolerate runtimes without import.meta.resolve
  packages/config/src/configDir.browser.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(serial): end the socket read loop on close (PR #9001 review)
  packages/serial/src/serialport/Socket.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(serial): make the TCP and ESPHome transports runtime-agnostic
  packages/serial/src/bindings/node.ts
  packages/serial/src/bindings/stub.ts
  packages/serial/src/index.ts
  packages/serial/src/index_browser.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
  packages/serial/src/serialport/NodeSocket.ts
  packages/serial/src/serialport/Socket.ts
  packages/serial/src/serialport/ZWaveSocketOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(shared): provide setImmediate instead of using the Node global
  packages/serial/src/plumbing/SerialModeSwitch.ts
  packages/shared/src/Timers.test.ts
  packages/shared/src/Timers.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/MockControllerBehaviors.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/70_FirmwareUpdate.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(core): allow replacing the crypto implementation at runtime
  docs/api/driver.md
  packages/core/src/bindings/crypto/browser.ts
  packages/core/src/bindings/crypto/node.ts
  packages/core/src/crypto/operations.test.ts
  packages/core/src/crypto/operations.ts
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(core): drop the ChaCha20-Poly1305 comment (PR #8996 review)
  packages/core/src/crypto/primitives/primitives.browser.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

style: sort the setCryptoPrimitives import
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(core): implement ChaCha20-Poly1305 in the browser crypto primitives (#8996)
  packages/core/package.json
  packages/core/src/crypto/primitives/primitives.browser.ts
  packages/core/src/crypto/primitives/primitives.test.ts
  packages/eslint-plugin/src/rules/no-forbidden-imports.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): clean up Heatit parameter labels, fix Z-TRM6 load size (PR #8997 review)
  packages/config/config/devices/0x019b/tf016_tf021.json
  packages/config/config/devices/0x019b/z-trm3.json
  packages/config/config/devices/0x019b/z-trm6.json
  packages/config/config/devices/0x019b/z-trm6_dc.json
Due: node maintenance/fmt-staged.js

fix(config): name both sensors in the Heatit NTC resistance label (PR #8997 review)
  packages/config/config/devices/0x019b/templates/heatit_template.json
Due: node maintenance/fmt-staged.js

fix(bot): strip HTML comments without a backtracking regex
  .github/bot-scripts/postsIndex.cjs
Due: none

refactor(config): require the embedded config dir option on non-Node runtimes (PR #8999 review)
  docs/api/driver.md
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/configDir.browser.ts
  packages/config/src/configDir.node.ts
  packages/web/src/script.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(serial): end the ESPHome message loop on close (PR #9001 review)
  packages/serial/src/serialport/ESPHomeSocket.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): correct the oC unit on Z-TRM 2 and Z-TRM2fx
  packages/config/config/devices/0x019b/heatit_z-trm_2_0.0_2.255.json
  packages/config/config/devices/0x019b/z-trm2fx_3.0_255.255.json
Due: node maintenance/fmt-staged.js

refactor(config): drop the #config_dir conditional import
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/package.json
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/configDir.browser.ts
  packages/config/src/configDir.node.ts
  packages/config/src/configDir.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(config): rename to getEmbeddedConfigDir, use private over # (PR #8999 review)
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/configDir.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(config): template the remaining Heatit sensor calibration parameters (PR #8997 review)
  packages/config/config/devices/0x019b/heatit_z-relay.json
  packages/config/config/devices/0x019b/heatit_z-trm_2_0.0_2.255.json
  packages/config/config/devices/0x019b/heatit_z_water.json
  packages/config/config/devices/0x019b/templates/heatit_template.json
  packages/config/config/devices/0x019b/z-han2.json
  packages/config/config/devices/0x019b/z-temp2.json
  packages/config/config/devices/0x019b/z-temp3.json
  packages/config/config/devices/0x019b/z-trm2fx_3.0_255.255.json
  packages/config/config/devices/0x019b/z-trm3.json
  packages/config/config/devices/0x019b/z-trm6.json
  packages/config/config/devices/0x019b/z-trm6_dc.json
  packages/config/config/devices/0x019b/z-trm7.json
  packages/config/config/devices/0x019b/z-water2.json
  packages/config/config/devices/0x019b/zm_thermostat_16.json
Due: node maintenance/fmt-staged.js

refactor(config): extract shared Heatit parameters into templates (#8997)
  packages/config/config/devices/0x019b/heatit_z-relay.json
  packages/config/config/devices/0x019b/heatit_z-trm_2_0.0_2.255.json
  packages/config/config/devices/0x019b/heatit_z_water.json
  packages/config/config/devices/0x019b/templates/heatit_template.json
  packages/config/config/devices/0x019b/tf016_tf021.json
  packages/config/config/devices/0x019b/z-han2.json
  packages/config/config/devices/0x019b/z-temp2.json
  packages/config/config/devices/0x019b/z-temp3.json
  packages/config/config/devices/0x019b/z-trm2fx_3.0_255.255.json
  packages/config/config/devices/0x019b/z-trm3.json
  packages/config/config/devices/0x019b/z-trm6.json
  packages/config/config/devices/0x019b/z-trm6_dc.json
  packages/config/config/devices/0x019b/z-trm7.json
  packages/config/config/devices/0x019b/z-water2.json
  packages/config/config/devices/0x019b/zm_thermostat_16.json
Due: node maintenance/fmt-staged.js

feat(config): allow embedders to specify the embedded config directory (#8999)
  docs/api/driver.md
  packages/config/maintenance/lintConfigFiles.ts
  packages/config/package.json
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/Manufacturers.ts
  packages/config/src/configDir.browser.ts
  packages/config/src/configDir.node.ts
  packages/config/src/configDir.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/config/src/utils.ts
  packages/web/src/script.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/node/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(bot): strip HTML comments without a backtracking regex (#9004)
  .github/bot-scripts/postsIndex.cjs
Due: none

docs(shared): correct the setImmediate ordering guarantee (PR #9000 review)
  packages/shared/src/Timers.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(bot): use while (true) instead of for (;;)
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/postsIndex.cjs
Due: none

refactor(bot): use `while (true)` instead of `for (;;)` (#9005)
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/postsIndex.cjs
Due: none

refactor(core): expose crypto primitives as live bindings (PR #8998 review)
  packages/core/src/crypto/operations.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs(shared): trim the setImmediate documentation (PR #9000 review)
  packages/shared/src/Timers.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(shared): provide setImmediate instead of using the Node global (#9000)
  packages/serial/src/plumbing/SerialModeSwitch.ts
  packages/shared/src/Timers.test.ts
  packages/shared/src/Timers.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/controller/MockControllerBehaviors.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/70_FirmwareUpdate.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

docs(core): shorten the crypto bindings comment (PR #8998 review)
  packages/core/src/crypto/operations.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat: add productId 0x5600 for YRM276 with ZW3 module (700 series) (#9002)
  packages/config/config/devices/0x0129/yrm276.json
Due: node maintenance/fmt-staged.js

fix(core): do not clobber a directly installed crypto implementation (PR #8998 review)
  packages/core/src/bindings/crypto/browser.ts
  packages/core/src/bindings/crypto/node.ts
  packages/zwave-js/package.json
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore(ai): clean up agent instructions
  .github/copilot-instructions.md
Due: node maintenance/fmt-staged.js

feat(core): allow replacing the crypto implementation at runtime (#8998)
  docs/api/driver.md
  packages/core/src/crypto/operations.test.ts
  packages/core/src/crypto/operations.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore(ai): clean up agent instructions (#9006)
  .github/copilot-instructions.md
Due: node maintenance/fmt-staged.js

refactor: name bikeshedding
  packages/serial/src/bindings/node.ts
  packages/serial/src/bindings/stub.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
  packages/serial/src/serialport/Socket.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(serial): restore the stream wrapping comment, format after the rename (PR #9001 review)
  packages/serial/src/bindings/node.ts
  packages/serial/src/serialport/Bindings.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor(serial): make the TCP and ESPHome transports runtime-agnostic (#9001)
  packages/serial/src/bindings/node.ts
  packages/serial/src/bindings/stub.ts
  packages/serial/src/index.ts
  packages/serial/src/index_browser.ts
  packages/serial/src/serialport/Bindings.ts
  packages/serial/src/serialport/ESPHomeSocket.ts
  packages/serial/src/serialport/NodeSocket.ts
  packages/serial/src/serialport/Socket.ts
  packages/serial/src/serialport/ZWaveSocketOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): reject an embedded config directory that is not one
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

fix(config): reject an embedded config directory that is not one (#9007)
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: wait for the expected User Code events instead of sleeping
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

test: bound the User Code event waits explicitly
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

Path conditions:
  yarn oxlint --type-aware: any of: *.{js,ts}
  node maintenance/fmt-staged.js: any of: *.{js,ts,json,md}
