Repository zwave-js/zwave-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn oxlint --type-aware, node maintenance/fmt-staged.js

.lintstagedrc.json:

{
	"*.{js,ts}": "yarn oxlint --type-aware",
	"*.{js,ts,json,md}": "node maintenance/fmt-staged.js"
}

fix(bot): narrow timeline event type, move branch comment inline (PR #8982 review)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/utils.cjs
Due: none

build: run bootstrap tasks serially to avoid clobbering build outputs
  maintenance/bootstrap.sh
Due: none

Update maintenance/bootstrap.sh
  maintenance/bootstrap.sh
Due: none

fix(bot): run triage on transferred issues (#8982)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/answerFromDocs.test.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/collectDocsFeedback.test.cjs
  .github/bot-scripts/ensureLogfile.cjs
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileInDiscussion.cjs
  .github/bot-scripts/hideTransferredComments.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
  .github/workflows/zwave-js-bot_post.yml
Due: none

build: actually install the git hooks, ignore false-positive project reference
  maintenance/tsconfig-references-plugin.cjs
  package.json
Due: node maintenance/fmt-staged.js

build: run bootstrap tasks serially to avoid clobbering build outputs (#8983)
  maintenance/bootstrap.sh
Due: none

ci: skip installing the git hooks
  .github/actions/prepare-env/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/nightly-config-publish.yml
Due: none

build: actually install the git hooks, ignore false-positive project reference (#8984)
  .github/actions/prepare-env/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/nightly-config-publish.yml
  maintenance/tsconfig-references-plugin.cjs
  package.json
Due: node maintenance/fmt-staged.js

feat(bot): compute embeddings locally instead of using GitHub Models
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

fix(bot): keep doc chunks within the embedding token window
  .github/bot-scripts/buildDocsIndex.cjs
Due: none

ci(bot): compute embeddings locally instead of using GitHub Models (#8985)
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/buildDocsIndex.cjs
  .github/bot-scripts/buildPostsIndex.cjs
  .github/bot-scripts/collectDocsFeedback.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/evalRelatedPosts.cjs
  .github/bot-scripts/localEmbeddings.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/bot-scripts/updatePostsIndex.cjs
  .github/workflows/docs-embeddings.yml
  .github/workflows/posts-embeddings.yml
  .github/workflows/zwave-js-bot_post.yml
Due: none

fix(bot): balance braces in the getComments GraphQL query
  .github/bot-scripts/answerFromDocs.cjs
Due: none

feat(bot): classify logfiles deterministically
  .github/aw/actions-lock.json
  .github/bot-scripts/classifyLogfile.cjs
  .github/bot-scripts/classifyLogfile.test.cjs
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileFeedbackInDiscussion.cjs
  .github/bot-scripts/index.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

fix(bot): only require fflate for actually compressed uploads (PR #8986 review)
  .github/bot-scripts/utils.cjs
Due: none

feat(bot): support compressed logfile uploads, use named classification constants
  .github/bot-scripts/classifyLogfile.cjs
  .github/bot-scripts/classifyLogfile.test.cjs
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileFeedbackInDiscussion.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

feat(bot): classify logfiles deterministically (#8986)
  .github/aw/actions-lock.json
  .github/bot-scripts/classifyLogfile.cjs
  .github/bot-scripts/classifyLogfile.test.cjs
  .github/bot-scripts/ensureLogfileFeedback.cjs
  .github/bot-scripts/ensureLogfileFeedbackInDiscussion.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/utils.cjs
  .github/bot-scripts/utils.test.cjs
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

docs(bot): clarify where the docs answer comment is posted (PR #8987 review)
  .github/bot-scripts/answerFromDocs.cjs
Due: none

feat(bot): judge docs answers with an agentic workflow
  .github/aw/actions-lock.json
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/prompts/extract-log-analyzer-query.prompt.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

fix(bot): balance braces in the getComments GraphQL query (#8988)
  .github/bot-scripts/answerFromDocs.cjs
Due: none

feat(bot): judge docs answers with an agentic workflow (#8987)
  .github/aw/actions-lock.json
  .github/bot-scripts/answerFromDocs.cjs
  .github/bot-scripts/evalDocsAnswers.cjs
  .github/bot-scripts/index.cjs
  .github/bot-scripts/modelsApi.cjs
  .github/prompts/extract-log-analyzer-query.prompt.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/answer-from-docs.lock.yml
  .github/workflows/answer-from-docs.md
  .github/workflows/zwave-js-bot_post.yml
Due: node maintenance/fmt-staged.js

fix(bot): mount the downloaded logfile into the log-analyzer MCP container
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/shared/zwave-log-analysis.md
Due: node maintenance/fmt-staged.js

fix(bot): mount the downloaded logfile into the log-analyzer MCP container (#8991)
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/shared/zwave-log-analysis.md
Due: node maintenance/fmt-staged.js

fix(bot): post logfile analyses as zwave-js-bot
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

fix(bot): post logfile analyses as zwave-js-bot (#8993)
  .github/workflows/analyze-logfile-auto.lock.yml
  .github/workflows/analyze-logfile-auto.md
  .github/workflows/analyze-logfile-command.lock.yml
  .github/workflows/analyze-logfile-command.md
Due: node maintenance/fmt-staged.js

feat(config): add Heatit Z-TRM7
  packages/config/config/devices/0x019b/z-trm7.json
Due: node maintenance/fmt-staged.js

fix(config): model Z-TRM7 value gaps with allowed, drop compat flag (PR #8995 review)
  packages/config/config/devices/0x019b/z-trm7.json
Due: node maintenance/fmt-staged.js

feat(config): add Heatit Z-TRM7 (#8995)
  packages/config/config/devices/0x019b/z-trm7.json
Due: node maintenance/fmt-staged.js

refactor(config): extract shared Heatit parameters into templates
  packages/config/config/devices/0x019b/templates/heatit_template.json
  packages/config/config/devices/0x019b/tf016_tf021.json
  packages/config/config/devices/0x019b/z-han2.json
  packages/config/config/devices/0x019b/z-temp2.json
  packages/config/config/devices/0x019b/z-temp3.json
  packages/config/config/devices/0x019b/z-trm3.json
  packages/config/config/devices/0x019b/z-trm6.json
  packages/config/config/devices/0x019b/z-trm6_dc.json
  packages/config/config/devices/0x019b/z-trm7.json
  packages/config/config/devices/0x019b/z-water2.json
  packages/config/config/devices/0x019b/zm_thermostat_16.json
Due: node maintenance/fmt-staged.js

feat: add productId 0x5600 for YRM276 with ZW3 module (700 series)
  packages/config/config/devices/0x0129/yrm276.json
Due: node maintenance/fmt-staged.js

fix(test): drop mock port frames sent during teardown
  packages/serial/src/mock/MockPort.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

chore: raise minimum Node.js version to 22.17 (#8824)
  packages/bindings-browser/package.json
  packages/cc/package.json
  packages/config/package.json
  packages/core/package.json
  packages/eslint-plugin/package.json
  packages/flash/package.json
  packages/host/package.json
  packages/maintenance/package.json
  packages/mcp-server-dev/package.json
  packages/nvmedit/package.json
  packages/serial/package.json
  packages/shared/package.json
  packages/testing/package.json
  packages/transformers/package.json
  packages/web/package.json
  packages/zwave-js/package.json
Due: node maintenance/fmt-staged.js

refactor: use native Set operations where applicable (#8818)
  packages/config/maintenance/importConfig.ts
  packages/core/src/values/ValueDB.ts
  packages/zwave-js/src/lib/driver/Driver.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: remove automatic watchdog management (#8808)
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: replace `createDeferredPromise` with `Promise.withResolvers` (#8844)
  packages/serial/src/plumbing/Merge.ts
  packages/shared/src/AsyncQueue.ts
  packages/shared/src/TimedExpectation.ts
  packages/web/src/flasher.ts
  packages/zwave-js/src/lib/controller/Controller.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/DriverMock.ts
  packages/zwave-js/src/lib/driver/MessageGenerators.ts
  packages/zwave-js/src/lib/driver/Queue.ts
  packages/zwave-js/src/lib/driver/Transaction.ts
  packages/zwave-js/src/lib/log/Driver.test.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/mixins/70_FirmwareUpdate.ts
  packages/zwave-js/src/lib/test/node/Node.rememberAwakeForInterview.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCredential.test.ts
  packages/zwave-js/src/lib/zniffer/Zniffer.ts
  packages/zwave-js/src/mockServer.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

refactor: make AccessControl API the source of truth for User Code CC (#8930)
  packages/cc/src/cc/UserCodeCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/zwave-js/src/lib/node/CCHandlers/NotificationCC.ts
  packages/zwave-js/src/lib/node/CCHandlers/UserCodeCC.ts
  packages/zwave-js/src/lib/node/Node.ts
  packages/zwave-js/src/lib/node/feature-apis/AccessControl.ts
  packages/zwave-js/src/lib/test/node/accessControl.UserCode.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(cc): implement Active Schedule CC (#8460)
  packages/cc/src/cc/ActiveScheduleCC.ts
  packages/cc/src/cc/ScheduleEntryLockCC.ts
  packages/cc/src/cc/_CCValues.generated.ts
  packages/cc/src/cc/index.ts
  packages/cc/src/lib/_CCAPI.generated.ts
  packages/cc/src/lib/_Types.ts
  packages/core/src/definitions/CommandClasses.ts
  packages/testing/src/CCSpecificCapabilities.ts
  packages/zwave-js/src/lib/node/MockNodeBehaviors.ts
  packages/zwave-js/src/lib/node/mockCCBehaviors/ActiveSchedule.ts
  packages/zwave-js/src/lib/test/cc-specific/activeScheduleAPI.test.ts
  packages/zwave-js/src/lib/test/cc-specific/activeScheduleInterview.test.ts
  packages/zwave-js/src/lib/test/cc/ActiveScheduleCC.test.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(core): implement ChaCha20-Poly1305 in the browser crypto primitives
  packages/core/package.json
  packages/core/src/crypto/primitives/primitives.browser.ts
  packages/core/src/crypto/primitives/primitives.test.ts
  packages/eslint-plugin/src/rules/no-forbidden-imports.ts
  yarn.lock
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js

feat(config): allow embedders to specify the embedded config directory
  docs/api/driver.md
  packages/config/src/ConfigManager.test.ts
  packages/config/src/ConfigManager.ts
  packages/config/src/Manufacturers.ts
  packages/config/src/devices/DeviceConfig.ts
  packages/config/src/utils.ts
  packages/zwave-js/src/lib/driver/Driver.ts
  packages/zwave-js/src/lib/driver/ZWaveOptions.ts
  packages/zwave-js/src/lib/node/Node.ts
Due: yarn oxlint --type-aware, node maintenance/fmt-staged.js
